<div class="center-div">
    <div class="box">
        <button mat-raised-button color="primary" class="btn-dashboard-size" (click)="navigatetopage('/quotation-view', 'ออกใบคำขอ')">หน้ารายการออกใบคำขอ</button>
    </div>
    <!-- <div class="box">
        <button mat-raised-button color="primary" class="btn-dashboard-size" (click)="navigatetopage('/collector-view', 'หน้าติดตามทวงหนี้')">หน้า FCR</button>
    </div> -->
    <!-- <div class="box">
        <button mat-raised-button color="primary" class="btn-dashboard-size" (click)="navigatetopage('/quotation-view', 'ออกใบคำขอ')">หน้ารายการออกใบคำขอ (ร้านค้า)</button>
    </div> -->
</div>