.cardarea {
    width: 500px;
    height: 350px;
    margin: 0 auto;
    border-style: solid;
    border-color: black;
}

.flexpos {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}

h3 {
    font-family: prompt;
}