mat-form-field.mat-form-field {
    font-size: 12px;  
}

.flexbox {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    margin: 0 auto;
}

.box {
    min-width: 250px;
    display: flex;
    justify-content: center;
    margin: 1em auto;
}