<form [formGroup]="formPersonalDisclosureConsent">
    <div class="center-position">
        <h1 style="font-family: Prompt;">
            หนังสือให้ความยินยอมในการเก็บรวบรวม ใช้ หรือเปิดเผยข้อมูลส่วนบุคคล
        </h1>
        <h2 style="font-family: Prompt;">
            (สำหรับลูกค้า, คู่สมรสของลูกค้า)
        </h2>
    </div>
    <div class="left-position">
        <span>
            บริษัท ไมโครพลัสลิสซิ่ง จำกัด (“บริษัทฯ”) ได้ดำเนินการตามพระราชบัญญัติคุ้มครองข้อมูลส่วนบุคคล พ.ศ. 2562
            สำหรับการเก็บรวบรวม ใช้ และเปิดเผยข้อมูลส่วนบุคคล เพื่อวัตถุประสงค์ต่างๆ ตามที่ได้ระบุไว้ด้านล่างนี้ ทั้งนี้
            หากท่านมี ข้อสงสัยเกี่ยวกับการเก็บรวบรวม ใช้ หรือเปิดเผยข้อมูลส่วนบุคคลของท่าน
            หรือเกี่ยวกับระยะเวลาการเก็บรวบรวมข้อมูล ส่วนบุคคล สิทธิ ช่องทาง
            และวิธีในการใช้สิทธิของท่านในฐานะเจ้าของข้อมูลส่วนบุคคล รวมถึงสิทธิในการถอนความยินยอม
            ท่านสามารถศึกษาข้อมูลเพิ่มเติมได้ที่นโยบายคุ้มครองข้อมูลส่วนบุคคล (Privacy Policy) ของบริษัทฯ <a
                href="https://www.microplusleasing.com" target="_blank">https://www.microplusleasing.com</a> ทั้งนี้
            หากท่านไม่ให้ความยินยอมอาจส่งผลกระทบให้บริษัทฯ ไม่สามารถนำข้อมูล
            ส่วนบุคคลของท่านมาใช้ประกอบการพิจารณาตามความประสงค์ของท่านได้
            <!-- <mat-divider></mat-divider> -->
            <hr>
            ท่านมีสิทธิถอนความยินยอม, เข้าถึงข้อมูลส่วนบุคคลของท่าน, ถ่ายโอนข้อมูล, คัดค้านการเก็บรวบรวม ใช้
            และเปิดเผยข้อมูลส่วนบุคคล, ลบหรือทำลาย, ระงับการใช้, และแก้ไขข้อมูลส่วนบุคคลของท่านให้ถูกต้องและเป็นปัจจุบัน
            โดยแจ้งความประสงค์มายังบริษัทฯ ทั้งนี้ บริษัทขอสงวนสิทธิในการใช้สิทธิดังกล่าวของท่าน
            เพื่อความจำเป็นในการปฏิบัติตามสัญญาระหว่างท่านกับบริษัทหรือตามกฎหมายที่เกี่ยวข้อง
            และการใช้สิทธิบางกรณีของท่านเช่น ถอนความยินยอม, คัดค้าน, ลบหรือทำลาย หรือ ระงับการใช้
            อาจส่งผลกระทบให้บริษัทฯ ไม่สามารถนำข้อมูลส่วนบุคคลของท่านมาใช้ประกอบการพิจารณาตามความประสงค์ของท่านได้
            <hr>
            ท่านสามารถติดต่อบริษัทฯ ได้ที่ บริษัท ไมโครพลัสลิสซิ่ง จำกัด (สาขากรุงเทพฯ) เลขที่ 890 ถนนเทอดไทย ตำบลบางแค
            แขวงบางแค จังหวัดกรุงเทพมหานคร 10160 ทีมบริการลูกค้าสัมพันธ์(Call Center) โทรศัพท์ : 02-1143450 กด 0, E-mail
            address : <a href="mailto: contact@microplusleasing.com" target="_blank">contact@microplusleasing.com</a>
            Website : <a href="https://www.microplusleasing.com" target="_blank">www.microplusleasing.com</a> หรือ
            เจ้าหน้าที่คุ้มครองข้อมูลส่วนบุคคล(DPO) บริษัท ไมโครพลัสลิสซิ่ง จำกัด (สาขากรุงเทพฯ) เลขที่ 890 ถนนเทอดไทย
            ตำบลบางแค แขวงบางแค จังหวัดกรุงเทพมหานคร 10160 โทรศัพท์ : 02-1143459 กด 6, E-mail address : <a
                href="mailto: DPO@microplusleasing.com" target="_blank">DPO@microplusleasing.com</a>
            <hr>
            <!-- <div style="font-weight: bold;">เจ้าของข้อมูลส่วนบุคคล กรุณาทำเครื่องหมาย  ในช่อง  เพื่อให้ความยินยอมตามที่ท่านประสงค์จะให้ไว้</div> -->
            1. ข้าพเจ้ายินยอมให้บริษัทฯ เก็บรวบรวม ใช้ และเปิดเผยข้อมูลส่วนบุคคลของข้าพเจ้า เช่น ชื่อ นามสกุล และข้อมูล
            ส่วนบุคคลที่มีความอ่อนไหว เช่น ลายนิ้วมือของข้าพเจ้า(ในกรณีที่ไม่สามารถเขียนหนังสือได้)
            ที่ได้ให้ไว้กับบริษัทฯ ในขณะนี้ หรือที่อยู่ในความครอบครองของบริษัทฯ
            ที่ได้ข้อมูลมาอย่างถูกต้องรวมถึงข้อมูลส่วนบุคคลที่จะให้เพิ่มเติมแก่ บริษัทฯ เพื่อวัตถุประสงค์ ดังนี้
            <br>
            <br>
            <!-- <label class="example-margin">Align:</label> -->
            <div class="row">
                <div class="col-md-3" style="margin-top: 1em;   min-width: 230px;">
                    <mat-radio-group [formControl]="identity_approve_consent_value" style="margin-left: 1.5em;">
                        <mat-radio-button color="primary" class="example-margin"
                            [value]="1">ยินยอม&nbsp;&nbsp;</mat-radio-button>
                        <mat-radio-button color="primary" class="example-margin"
                            [value]="0">ไม่ยินยอม</mat-radio-button>
                    </mat-radio-group>
                </div>
                <div class="col-md-9" style="margin-top: 1em;">
                    เพื่อยืนยันตัวตนของข้าพเจ้าในการขออนุมัติสินเชื่อและทำสัญญาประเภทต่างๆ กับบริษัทฯ <br>
                </div>
                <div class="col-md-3" style="margin-top: 1em; min-width: 230px">

                    <mat-radio-group [formControl]="motor_insurance_consent_value" style="margin-left: 1.5em;">
                        <mat-radio-button color="primary" class="example-margin"
                            [value]="1">ยินยอม&nbsp;&nbsp;</mat-radio-button>
                        <mat-radio-button color="primary" class="example-margin"
                            [value]="0">ไม่ยินยอม</mat-radio-button>
                    </mat-radio-group>
                </div>
                <div class="col-md-9" style="margin-top: 1em;">
                    เพื่อนำส่งทำสัญญาประกันภัยเกี่ยวกับรถยนต์กับบริษัทประกันภัย และ/หรือบริษัทนายหน้าประกันภัย
                    และ/หรือนายหน้าประกันภัย เช่น ประกันรถยนต์ ประกันวินาศภัย เป็นต้น
                </div>
            </div>
            <br>
            2. ข้าพเจ้ายินยอมให้บริษัทฯ เก็บรวบรวม ใช้ และเปิดเผยข้อมูลส่วนบุคคลของข้าพเจ้า เช่น ชื่อ นามสกุล
            และข้อมูลส่วน บุคคลที่มีความอ่อนไหว เช่น ข้อมูลสุขภาพที่จำเป็นต่อการทำประกันชีวิต และ
            ลายนิ้วมือของข้าพเจ้า(ในกรณีที่ไม่สามารถลงนามในสัญญาเขียนหนังสือได้) ที่ได้ให้ไว้กับบริษัทฯ ในขณะนี้
            หรือที่อยู่ในความครอบครองของบริษัทฯ
            ที่ได้ข้อมูลมาอย่างถูกต้องรวมถึงข้อมูลส่วนบุคคลที่จะให้เพิ่มเติมแก่บริษัทฯ เพื่อวัตถุประสงค์ ดังนี้
            <br>
            <br>
            <div class="row">
                <div class="col-md-3" style="margin-top: 1em;   min-width: 230px;">
                    <mat-radio-group [formControl]="nmotor_insurance_consent_value" style="margin-left: 1.5em;">
                        <mat-radio-button color="primary" class="example-margin"
                            [value]="1">ยินยอม&nbsp;&nbsp;</mat-radio-button>
                        <mat-radio-button color="primary" class="example-margin"
                            [value]="0">ไม่ยินยอม</mat-radio-button>
                    </mat-radio-group>
                </div>
                <div class="col-md-9" style="margin-top: 1em;">
                    เพื่อนำส่งทำสัญญาประกันชีวิตกับบริษัทประกันภัย
                    และ/หรือบริษัทนายหน้าประกันชีวิตและ/หรือนายหน้าประกันชีวิต เช่น ประกันชีวิตคุ้มครองวงเงิน(MRTA)
                    เป็นต้น<br>
                </div>
            </div>
            <br>
            3. ข้าพเจ้ายินยอมให้บริษัทฯ เก็บรวบรวม ใช้ และเปิดเผยข้อมูลส่วนบุคคล เช่น ชื่อ นามสกุล เบอร์โทรศัพท์
            และข้อมูลส่วน บุคคลอื่นๆ ของข้าพเจ้าที่ได้ให้ไว้กับบริษัทฯ ในขณะนี้ หรือที่อยู่ในความครอบครองของบริษัทฯ
            ที่ได้ข้อมูลมาอย่างถูกต้อง รวมถึงข้อมูลที่จะให้เพิ่มเติมแก่บริษัทฯ เพื่อวัตถุประสงค์ ดังนี้
            <br>
            <br>

            <div class="row">
                <div class="col-md-3" style="margin-top: 1em;   min-width: 230px;">
                    <mat-radio-group [formControl]="analyze_consent_value" style="margin-left: 1.5em;">
                        <mat-radio-button color="primary" class="example-margin"
                            [value]="1">ยินยอม&nbsp;&nbsp;</mat-radio-button>
                        <mat-radio-button color="primary" class="example-margin"
                            [value]="0">ไม่ยินยอม</mat-radio-button>
                    </mat-radio-group>
                </div>
                <div class="col-md-9" style="margin-top: 1em;">
                    เพื่อวิเคราะห์ วิจัย ข้อมูลของข้าพเจ้าสำหรับปรับปรุงแก้ไขและพัฒนาธุรกิจ ผลิตภัณฑ์และบริการของบริษัทฯ
                    และ/หรือบริษัทในเครือ ซึ่งอาจเกินความคาดหมายของข้าพเจ้า <br>
                </div>
                <div class="col-md-3" style="margin-top: 1em; min-width: 230px">

                    <mat-radio-group [formControl]="info_consent_value" style="margin-left: 1.5em;">
                        <mat-radio-button color="primary" class="example-margin"
                            [value]="1">ยินยอม&nbsp;&nbsp;</mat-radio-button>
                        <mat-radio-button color="primary" class="example-margin"
                            [value]="0">ไม่ยินยอม</mat-radio-button>
                    </mat-radio-group>
                </div>
                <div class="col-md-9" style="margin-top: 1em;">
                    เพื่อการประชาสัมพันธ์ แนะนำ
                    ให้ข้อมูลหรือข้อเสนอเกี่ยวกับผลิตภัณฑ์และบริการรวมถึงสิทธิพิเศษที่เป็นประโยชน์และอาจหมาะสมกับข้าพเจ้าของบริษัทฯ
                    และ/หรือบริษัทในเครือ ซึ่งอาจเกินความคาดหมายของข้าพเจ้า
                </div>
            </div>
            <br>
            4. ข้าพเจ้ายินยอมให้บริษัทฯ เก็บรวบรวม ใช้ และ เปิดเผยข้อมูลส่วนบุคคลของข้าพเจ้า เช่น ภาพถ่าย ภาพเคลื่อนไหว
            และ เสียง ที่ได้ให้ไว้กับบริษัทฯ ในขณะนี้ หรือที่อยู่ในความครอบครองของบริษัทฯ
            ที่ได้ข้อมูลมาอย่างถูกต้องรวมถึงข้อมูลที่จะ ให้เพิ่มเติมแก่บริษัทฯ
            <br>
            <br>
            <div class="row">
                <div class="col-md-3" style="margin-top: 1em;   min-width: 230px;">
                    <mat-radio-group [formControl]="info_party_consent_value" style="margin-left: 1.5em;">
                        <mat-radio-button color="primary" class="example-margin"
                            [value]="1">ยินยอม&nbsp;&nbsp;</mat-radio-button>
                        <mat-radio-button color="primary" class="example-margin"
                            [value]="0">ไม่ยินยอม</mat-radio-button>
                    </mat-radio-group>
                </div>
                <div class="col-md-9" style="margin-top: 1em;">
                    เพื่อใช้ในการประชาสัมพันธ์ของบริษัทฯ และ/หรือบริษัทในเครือ<br>
                </div>
            </div>
            <br>

            5. ข้าพเจ้ายินยอมให้บริษัทฯ เปิดเผยข้อมูลส่วนบุคคลของข้าพเจ้าที่ได้ให้ไว้กับบริษัทฯ ในขณะนี้
            หรือที่อยู่ในความครอบครองของบริษัทฯ
            ที่ได้ข้อมูลมาอย่างถูกต้องรวมถึงข้อมูลส่วนบุคคลที่จะให้เพิ่มเติมแก่บริษัทฯ
            เพื่อเปิดเผยข้อมูลให้แก่บริษัทร่วม และ/หรือบริษัทในเครือของบริษัทฯ ตาม link
            ที่แสดงรายชื่อบริษัทร่วมและบริษัทในเครือ ดังนี้ <a href="https://www.microplusleasing.com"
                target="_blank">https://www.microplusleasing.com</a>
            <br>
            <br>

            <div class="row">
                <div class="col-md-3" style="margin-top: 1em;   min-width: 230px;">
                    <mat-radio-group [formControl]="analyze_party_consent_value" style="margin-left: 1.5em;">
                        <mat-radio-button color="primary" class="example-margin"
                            [value]="1">ยินยอม&nbsp;&nbsp;</mat-radio-button>
                        <mat-radio-button color="primary" class="example-margin"
                            [value]="0">ไม่ยินยอม</mat-radio-button>
                    </mat-radio-group>
                </div>
                <div class="col-md-9" style="margin-top: 1em;">
                    เพื่อวิเคราะห์ วิจัย ข้อมูลของข้าพเจ้าสำหรับปรับปรุงแก้ไขและพัฒนาธุรกิจ ผลิตภัณฑ์และบริการของบริษัทฯ
                    และ/หรือบริษัทในเครือ ซึ่งอาจเกินความคาดหมายของข้าพเจ้า <br>
                </div>
                <div class="col-md-3" style="margin-top: 1em; min-width: 230px">

                    <mat-radio-group [formControl]="prdt_info_party_consent_value" style="margin-left: 1.5em;">
                        <mat-radio-button color="primary" class="example-margin"
                            [value]="1">ยินยอม&nbsp;&nbsp;</mat-radio-button>
                        <mat-radio-button color="primary" class="example-margin"
                            [value]="0">ไม่ยินยอม</mat-radio-button>
                    </mat-radio-group>
                </div>
                <div class="col-md-9" style="margin-top: 1em;">
                    เพื่อการประชาสัมพันธ์ แนะนำ
                    ให้ข้อมูลหรือข้อเสนอเกี่ยวกับผลิตภัณฑ์และบริการรวมถึงสิทธิพิเศษที่เป็นประโยชน์และอาจหมาะสมกับข้าพเจ้าของบริษัทฯ
                    และ/หรือบริษัทในเครือ ซึ่งอาจเกินความคาดหมายของข้าพเจ้า
                </div>
                <div class="col-md-3" style="margin-top: 1em; min-width: 230px">

                    <mat-radio-group [formControl]="followup_consent_value" style="margin-left: 1.5em;">
                        <mat-radio-button color="primary" class="example-margin"
                            [value]="1">ยินยอม&nbsp;&nbsp;</mat-radio-button>
                        <mat-radio-button color="primary" class="example-margin"
                            [value]="0">ไม่ยินยอม</mat-radio-button>
                    </mat-radio-group>
                </div>
                <div class="col-md-9" style="margin-top: 1em;">
                    เพื่อใช้เป็นข้อมูลประกอบการให้บริการหลังการขายรวมถึงติดตาม ประสานงาน แก้ไขปัญหาต่าง ๆ
                    หรือบริการหลังการขาย
                </div>
                <div class="col-md-3" style="margin-top: 1em; min-width: 230px">

                    <mat-radio-group [formControl]="info_develop_consent_value" style="margin-left: 1.5em;">
                        <mat-radio-button color="primary" class="example-margin"
                            [value]="1">ยินยอม&nbsp;&nbsp;</mat-radio-button>
                        <mat-radio-button color="primary" class="example-margin"
                            [value]="0">ไม่ยินยอม</mat-radio-button>
                    </mat-radio-group>
                </div>
                <div class="col-md-9" style="margin-top: 1em;">
                    เพื่อใช้เป็นข้อมูลในการพัฒนาระบบเทคโนโลยีสารสนเทศของบริษัทฯ
                    เพื่อปรับปรุงพัฒนาระบบการให้บริการต่อผู้เป็นเจ้าของข้อมูลส่วนบุคคล
                </div>
            </div>
        </span>
    </div>



    <div class="center-position sp1em">
        <button [disabled]="disableNextBtn" mat-raised-button color="primary" type="button"
            (click)="callParent()">ต่อไป</button>
    </div>
</form>