<h1 mat-dialog-title>{{data.header}}</h1>
<div mat-dialog-content>
    <form [formGroup]="mainOTPForm">
        <mat-stepper labelPosition="bottom" [selectedIndex]="_tabindex" [linear]="true" style="height: 100%;">
            <mat-step [stepControl]="confirmEconsentForm" [editable]="_editabletab1" style="height: 100%;">
                <ng-template matStepLabel>แบบฟอร์มการยินยอมเปิดเผยข้อมูลผ่านอินเทอร์เน็ต</ng-template>
                <div [formGroup]="confirmEconsentForm">
                    <h2 mat-dialog-title>ความยินยอมในการเปิดเผยข้อมูลโดยวิธีการผ่านระบบอินเทอร์เน็ต</h2>
                    <mat-dialog-content class="mat-typography" style="max-height: 30em;" (scroll)="onScroll($event)">
                        <div>
                            <div class="flex-center">
                                <html id="econsentelement" style="background-color: rgb(240, 240, 240);" >

                                <body style="margin: 0 1.5em 0;">
                                    <div class="flex-center">
                                        <img style="max-width: 80px;" src="./../../../../assets/image/Logo1.png">
                                    </div>
                                    <p>เงื่อนไขในการให้ความยินยอมเปิดเผยข้อมูลผ่านระบบอินเทอร์เน็ต</p><br>
                                    <p>ข้าพเจ้าทราบดีว่า การให้ความยินยอมผ่านระบบอินเทอร์เน็ต จะมีลักษณะเป็น
                                        “ข้อมูลอิเล็กทรอนิกส์”
                                        และเป็นข้อความที่ได้สร้าง ส่ง รับ เก็บรักษา
                                        หรือประมวลผลด้วยวิธีทางอิเล็กทรอนิกส์
                                        ซึ่งจะมีผลเป็นการให้ความยินยอมในการเปิดเผยหรือใช้ข้อมูลของข้าพเจ้า
                                        ตามกฏหมายว่าด้วยการประกอบธุรกิจข้อมูลเครดิตและข้าพเจ้าจะไม่ยกเลิกเพิกถอนหรือปฏิเสธความยินยอมนี้
                                        เพราะเหตุที่เป็นข้อมูลอิเล็กทรอนิกส์
                                        วิธีการให้ความยินยอมเปิดเผยข้อมูลผ่านระบบอินเทอร์เน็ต</p><br>
                                    <p>1. ผู้ให้ความยินยอมจะต้องกรอกข้อมูลที่ถูกต้อง</p><br>
                                    <p>2. ผู้ให้ความยินยอมอาจส่งผ่านความยินยอมด้วยตนเอง
                                        หรือมอบหมายให้บุคคลใดส่งผ่านก็ได้
                                    </p>
                                    <br>
                                    <p>3. การให้ความยินยอมโดยวิธีการผ่านระบบอินเทอร์เน็ต ให้ถือว่ามีการลงลายมือชื่อแล้ว
                                    </p>
                                    <br>
                                    <p>เมื่อได้ดำเนินการตามขั้นตอนการยืนยันตัวตนและการใช้รหัสอ้างอิง</p><br>
                                    <p>ข้าพเจ้า ชื่อ {{data.firstname}} นามสกุล {{data.lastname}}</p><br>
                                    <p>วัน/เดือน/ปี พ.ศ. {{data.birthdate !== null ? (data.birthdate | thaidate:'main')
                                        :
                                        '-'}} <br></p><br>
                                    <p>บัตรประจำตัวประชาชน หรือหนังสือเดินทาง เลขที่ {{data.citizenid}}
                                        หมายเลขโทรศัพท์เคลื่อนที่
                                        {{data.phone_number}}</p><br>
                                    <p>ประเภทสินเชื่อ เช่าซื้อ</p><br>
                                    <p>หมายเลขอ้างอิง {{data.application_no}}</p><br>
                                    <p>วันเวลาที่ทำรายการความยินยอมในการเปิดเผยข้อมูล {{data.currentDate !== null ?
                                        (data.currentDate | thaidate: 'main'): ''}} {{data.currentDate !== null ?
                                        (data.currentDate | date: 'HH:mm:ss'): ''}} ช่องทางที่ทำรายการ
                                        MPLUS
                                    </p><br>
                                    <p>ความยินยอมนี้จัดทำขึ้นด้วยความสมัครใจของข้าพเจ้าและส่งผ่านระบบอินเทอร์เน็ตให้แก่
                                        บริษัท
                                        ข้อมูลเครดิตแห่งชาติ จำกัด
                                        (บริษัท) เพื่อเป็นหลักฐานว่า ข้าพเจ้าตกลงยินยอมให้บริษัท ข้อมูลเครดิตแห่งชาติ
                                        จำกัด
                                        (บริษัท)
                                        เปิดเผยหรือให้ข้อมูลของข้าพเจ้าแก่ บริษัท ไมโครพลัสลิสซิ่ง จำกัด
                                        ซึ่งเป็นสมาชิกหรือผู้ให้บริการของบริษัท
                                        เพื่อประโยชน์ในการวิเคราะห์สินเชื่อ การออกบัตรเครดิต ตามคำขอสินเชื่อ
                                        /ขอออกบัตรเครดิตของข้าพเจ้าที่ให้ไว้กับธนาคาร
                                        /บริษัทดังกล่าวข้างต้น รวมทั้งเพื่อประโยชน์ในการทบทวนสินเชื่อ
                                        ต่ออายุสัญญาสินเชื่อ
                                        /บัตรเครดิต
                                        การบริหารและป้องกันความเสี่ยงตามข้อกำหนดของธนาคารแห่งประเทศไทย
                                        และให้ถือว่าความยินยอมเปิดเผยข้อมูลที่ทำขึ้นผ่านระบบอินเทอร์เน็ตนี้
                                        เมื่อประมวลผลและจัดพิมพ์ขึ้นจากอิเล็กทรอนิกส์แล้ว
                                        ไม่ว่าในรูปแบบใดๆ เป็นหลักฐานในการให้ความยินยอมด้วยตนเองข้าพเจ้าเช่นเดียวกัน
                                        อนึ่ง ก่อนให้ความยินยอม</p><br>
                                    <p>ข้าพเจ้าได้ทราบถึงวิธีการและเงื่อนไขของวิธีการให้ความยินยอมในการเปิดเผยข้อมูลหรือให้ข้อมูลผ่านระบบอินเทอร์เน็ต
                                        ซึ่งระบุไว้ด้านบนของความยินยอมนี้อย่างชัดเจนแล้ว</p><br>
                                    <p>หมายเหตุ : ข้อมูลที่บริษัท ข้อมูลเครดิตแห่งชาติ จำกัด
                                        เปิดเผยให้แก่สถาบันการเงินที่เป็นสมาชิกหรือผู้ใช้บริการ
                                        เป็นเพียงเองค์ประกอบหนึ่งในการพิจารณาสินเชื่อของสถานบันการเงิน
                                        แต่การเปิดเผยข้อมูลดังกล่าวเป็นสิทธิของเจ้าของข้อมูลที่จะให้ความยินยอมหรือไม่ก็ได้
                                    </p>
                                    <br>
                                </body>

                                </html>

                                <html id="econsentelement2" style="background-color: rgb(240, 240, 240); width: 1000px; font-size: 50px; 
                                font-family: THSarabunNew; color: black;" [ngStyle]="{display: 'none'}">

                                <body style="margin: 0 1.5em 0;">
                                    <div class="flex-center">
                                        <img style="max-width: 200px; margin-bottom: 1em; margin-top: 1em;" src="./../../../../assets/image/Logo1.png">
                                    </div>
                                    <p style="line-height: 1em;">เงื่อนไขในการให้ความยินยอมเปิดเผยข้อมูลผ่านระบบอินเทอร์เน็ต</p><br>
                                    <p style="line-height: 1em;">ข้าพเจ้าทราบดีว่า การให้ความยินยอมผ่านระบบอินเทอร์เน็ต จะมีลักษณะเป็น
                                        “ข้อมูลอิเล็กทรอนิกส์”
                                        และเป็นข้อความที่ได้สร้าง ส่ง รับ เก็บรักษา
                                        หรือประมวลผลด้วยวิธีทางอิเล็กทรอนิกส์
                                        ซึ่งจะมีผลเป็นการให้ความยินยอมในการเปิดเผยหรือใช้ข้อมูลของข้าพเจ้า
                                        ตามกฏหมายว่าด้วยการประกอบธุรกิจข้อมูลเครดิตและข้าพเจ้าจะไม่ยกเลิกเพิกถอนหรือปฏิเสธความยินยอมนี้
                                        เพราะเหตุที่เป็นข้อมูลอิเล็กทรอนิกส์
                                        วิธีการให้ความยินยอมเปิดเผยข้อมูลผ่านระบบอินเทอร์เน็ต <br><br>
                                        1. ผู้ให้ความยินยอมจะต้องกรอกข้อมูลที่ถูกต้อง <br><br>
                                        2. ผู้ให้ความยินยอมอาจส่งผ่านความยินยอมด้วยตนเอง
                                        หรือมอบหมายให้บุคคลใดส่งผ่านก็ได้ <br><br>
                                        3. การให้ความยินยอมโดยวิธีการผ่านระบบอินเทอร์เน็ต ให้ถือว่ามีการลงลายมือชื่อแล้ว <br><br>
                                        เมื่อได้ดำเนินการตามขั้นตอนการยืนยันตัวตนและการใช้รหัสอ้างอิง <br><br>
                                        ข้าพเจ้า ชื่อ {{data.firstname}} นามสกุล {{data.lastname}} <br><br>
                                        วัน/เดือน/ปี พ.ศ. {{data.birthdate !== null ? (data.birthdate | thaidate:'main')
                                        :
                                        '-'}} <br><br>
                                        บัตรประจำตัวประชาชน หรือหนังสือเดินทาง เลขที่ {{data.citizenid}}
                                        หมายเลขโทรศัพท์เคลื่อนที่
                                        {{data.phone_number}} <br><br>
                                        ประเภทสินเชื่อ เช่าซื้อ <br><br>
                                        หมายเลขอ้างอิง {{data.application_no}} <br><br>
                                        วันเวลาที่ทำรายการความยินยอมในการเปิดเผยข้อมูล {{data.currentDate !== null ?
                                            (data.currentDate | thaidate: 'main'): ''}} {{data.currentDate !== null ?
                                            (data.currentDate | date: 'HH:mm:ss'): ''}} ช่องทางที่ทำรายการ
                                            MPLUS <br><br>
                                            ความยินยอมนี้จัดทำขึ้นด้วยความสมัครใจของข้าพเจ้าและส่งผ่านระบบอินเทอร์เน็ตให้แก่
                                            บริษัท
                                            ข้อมูลเครดิตแห่งชาติ จำกัด
                                            (บริษัท) เพื่อเป็นหลักฐานว่า ข้าพเจ้าตกลงยินยอมให้บริษัท ข้อมูลเครดิตแห่งชาติ
                                            จำกัด
                                            (บริษัท)
                                            เปิดเผยหรือให้ข้อมูลของข้าพเจ้าแก่ บริษัท ไมโครพลัสลิสซิ่ง จำกัด
                                            ซึ่งเป็นสมาชิกหรือผู้ให้บริการของบริษัท
                                            เพื่อประโยชน์ในการวิเคราะห์สินเชื่อ การออกบัตรเครดิต ตามคำขอสินเชื่อ
                                            /ขอออกบัตรเครดิตของข้าพเจ้าที่ให้ไว้กับธนาคาร
                                            /บริษัทดังกล่าวข้างต้น รวมทั้งเพื่อประโยชน์ในการทบทวนสินเชื่อ
                                            ต่ออายุสัญญาสินเชื่อ
                                            /บัตรเครดิต
                                            การบริหารและป้องกันความเสี่ยงตามข้อกำหนดของธนาคารแห่งประเทศไทย
                                            และให้ถือว่าความยินยอมเปิดเผยข้อมูลที่ทำขึ้นผ่านระบบอินเทอร์เน็ตนี้
                                            เมื่อประมวลผลและจัดพิมพ์ขึ้นจากอิเล็กทรอนิกส์แล้ว
                                            ไม่ว่าในรูปแบบใดๆ เป็นหลักฐานในการให้ความยินยอมด้วยตนเองข้าพเจ้าเช่นเดียวกัน
                                            อนึ่ง ก่อนให้ความยินยอม <br><br>
                                            ข้าพเจ้าได้ทราบถึงวิธีการและเงื่อนไขของวิธีการให้ความยินยอมในการเปิดเผยข้อมูลหรือให้ข้อมูลผ่านระบบอินเทอร์เน็ต
                                            ซึ่งระบุไว้ด้านบนของความยินยอมนี้อย่างชัดเจนแล้ว <br><br>
                                            หมายเหตุ : ข้อมูลที่บริษัท ข้อมูลเครดิตแห่งชาติ จำกัด
                                            เปิดเผยให้แก่สถาบันการเงินที่เป็นสมาชิกหรือผู้ใช้บริการ
                                            เป็นเพียงเองค์ประกอบหนึ่งในการพิจารณาสินเชื่อของสถานบันการเงิน
                                            แต่การเปิดเผยข้อมูลดังกล่าวเป็นสิทธิของเจ้าของข้อมูลที่จะให้ความยินยอมหรือไม่ก็ได้
                                    </p>
                                </body>
                                </html>
                                
                                <br>
                                <!-- <div class="flex-center">
                                    <mat-radio-group aria-labelledby="example-radio-group-label"
                                        class="example-radio-group" [formControl]="econsentvalue"
                                        [formControl]="econsentvalue">
                                        <mat-radio-button color="primary" class="example-radio-button"
                                            *ngFor="let item of econsentvalueList" [value]="item.value">
                                            {{item.label}}
                                        </mat-radio-button>
                                    </mat-radio-group>
                                    <button mat-raised-button color="primary"
                                        [disabled]="!this.confirmEconsentForm.controls.econsentvalue.valid"
                                        (click)="onClickAcceptEconsent()">ยืนยันรายการ</button>``
                                    <br>
                                    <br>
                                </div> -->
                            </div>
                        </div>
                        <!-- <div>
                            <button mat-raised-button color="primary" (click)="test_gen_image()"> ทดสอบภาพ</button>
                        </div> -->
                    </mat-dialog-content>
                </div>
            </mat-step>
            <mat-step [stepControl]="otpactivate" [editable]="_editabletab2">
                <ng-template matStepLabel>ยืนยัน OTP</ng-template>
                <div class="flex-center" style="margin-top: 1em;">
                    <mat-label>กรอกเลข OTP</mat-label>
                    <ng-otp-input [formCtrl]="otp_value"
                        [config]="{length:6, allowNumbersOnly: true}"></ng-otp-input><br>
                    <h3>{{_validationResMsg}}</h3>
                    <button mat-raised-button color="primary" (click)="activateotpeconsent($event)"> ยืนยัน OTP</button>
                </div>
            </mat-step>
            <mat-step [stepControl]="otpvalidation" [editable]="_editabletab3">
                <ng-template matStepLabel>ผลการยืนยัน OTP</ng-template>
                <div class="flex-center" style="margin-top: 1em;">
                    <span> ✅ การทำรายการยินยอมเปิดเผยข้อมูลผ่านอินเทอร์เน็ตสำเร็จ !</span>
                </div>
            </mat-step>
        </mat-stepper>
    </form>
</div>
<div mat-dialog-actions align="center">
    <!-- <button mat-raised-button [mat-dialog-close]="true" color="primary">{{data.button_name}}</button> -->
    <div class="flex-center" *ngIf="_tabindex  == 0">
        <!-- <div class="flex-center">
            <span>scrollTop : {{this.txt_scrollTop}}</span>
            <br>
            <span>offsetHeight : {{this.txt_offsetHeight}}</span>
            <br>
            <span>scrollHeight : {{this.txt_scrollHeight}}</span>
            <br>

        </div> -->
        <!-- <button mat-raised-button color="primary" (click)="test_gen_image()"> ทดสอบภาพ</button>
        <br> -->
        <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
            [formControl]="econsentvalue" [formControl]="econsentvalue">
            <mat-radio-button color="primary" class="example-radio-button" *ngFor="let item of econsentvalueList"
                [value]="item.value">
                {{item.label}}
            </mat-radio-button>
        </mat-radio-group>
        <button mat-raised-button color="primary" [disabled]="!this.confirmEconsentForm.controls.econsentvalue.valid"
            (click)="onClickAcceptEconsent()">ยืนยันรายการ</button>
    </div>
</div>