<form [formGroup]="salesheetForm">
    <div>
        <!-- รอโหดภาพ -->
        @if(!loadimagesucces) {
        <h1 style="
            text-align: center; 
            height: 10rem;
            display: flex;
            align-items: center; 
            justify-content: center;
             ">
            Loading ...
        </h1>
        }

        <!-- โหลดภาพเสร็จ -->
        @if(loadimagesucces) {
        @for (imageUrl of this.salesheetImagesUrl; track $index) {
        <img [src]="imageUrl" alt="Image" class="responsive-image" />
        }
        }


        <div style="text-align: center; margin: 1em;">
            <mat-checkbox class="example-margin" color="primary" [formControl]="salesheetacceptvalue">
                ข้าพเจ้าได้อ่านและทำความเข้าใจเอกสารข้อมูลผลิตภัณฑ์แล้ว
            </mat-checkbox>
            <br>
            <button mat-raised-button color="primary" [disabled]="disableNextBtn || !loadimagesucces" type="button"
                (click)="callParent()">
                ต่อไป
            </button>
        </div>
    </div>
</form>