<form [formGroup]="quoForm">
    <mat-stepper labelPosition="bottom" [orientation]="(stepperOrientation | async)!" [linear]="isLinear" #stepper
        (selectionChange)="changeStage($event)">
        <mat-step [stepControl]="this.cizcardtab.cizForm">
            <mat-divider></mat-divider>
            <ng-template matStepLabel>ข้อมูลบัตรประชาชน</ng-template>
            <app-ciz-card-tab [quotationReq]="(quotationResult$)" (dipchipRes)="recieve_dipchipData($event)" (facevalid)="recieve_dialogfacevalid()" (phonenumbervalue)="recieve_phonenumber()">
            </app-ciz-card-tab>
            <div class="flex-center" *ngIf="!canclequest">
                    <div>
                        <button mat-raised-button color="primary" (click)="onclickSavecitizendata()" 
                            [disabled]="this.createorupdatecitizendataDisable">
                            บันทึกข้อมูล
                        </button>
                    </div>
                    <br>
                    <button *ngIf="this.visiblePhoneValid" mat-raised-button color="primary"
                        (click)="onClickBtnVerifyPhone()"
                        [disabled]="disablePhoneValidbtn">
                        <!-- [disabled]="!(this.cizcardtab.cizForm.controls.generalinfoForm.controls.phoneNumber.valid)"> -->
                        ยืนยันเบอร์โทรศัพท์ลูกค้า
                    </button>
                    <br>
                    <button mat-raised-button color="primary" matStepperNext [disabled]="!this.cizcardtab.cizForm.valid"
                        type="button">
                        Next
                    </button>
            </div>
        </mat-step>

        <mat-step [stepControl]="this.productdetailtab.productForm.controls.consentVerify">
            <ng-template matStepLabel>ข้อมูลผลิตภัณฑ์/วงเงินสินเชื่อ</ng-template>
            <app-product-detail-tab [quotationReq]="quotationResult$"></app-product-detail-tab>
            <div class="flex-center">
                <div *ngIf="verifyeconsent">
                    <br>
                    <!-- <span>✅ : ได้รับการยืนยันการเปิดเผยข้อมูลผ่านระบบอินเทอร์เน็ตแล้ว</span> -->
                    <span>✅ : ได้รับการยืนยันการเรียบร้อยแล้ว</span>
                    <br>
                </div>
                <div class="flex-center">
                    <button mat-raised-button color="primary" (click)="onclickCreateCreditBtn()" [disabled]="this.createorupdatecreditbtnDisable">
                        บันทึกข้อมูล
                    </button><br>
                </div>
                <div *ngIf="!verifyeconsent" class="flex-center">
                    <!-- <button mat-raised-button color="primary" (click)="onclickEconsentBtn()" [disabled]="!this.productdetailtab.productForm.controls.detailForm.valid"> -->
                    <button mat-raised-button color="primary" (click)="onclickEconsentBtn()" [disabled]="this.econsentbtnDisable">
                        ยืนยันการสมัคร
                    </button>
                </div>
            </div>
        </mat-step>

        <mat-step>
            <ng-template matStepLabel>อาชีพ และ รายได้</ng-template>
            <app-career-and-purpose [quotationReq]="quotationResult$"></app-career-and-purpose>
        </mat-step>

        <mat-step>
            <ng-template matStepLabel>เอกสารประกอบการสมัครสินเชื่อ</ng-template>
            <app-image-attach></app-image-attach>
        </mat-step>
    </mat-stepper>
</form>