<app-oracle-backward *ngIf="showOracleBackward">
</app-oracle-backward>
<form [formGroup]="quoForm">
    <mat-stepper labelPosition="bottom" [orientation]="(stepperOrientation | async)!" [linear]="isLinear" #stepper
        (selectionChange)="changeStage($event)">
        <mat-step [stepControl]="this.cizcardtab.cizForm" state="cizcard">
            <mat-divider></mat-divider>
            <ng-template matStepLabel>ข้อมูลบัตรประชาชน</ng-template>
            <app-ciz-card-tab [quotationReq]="(quotationResult$)" (dipchipRes)="recieve_dipchipData($event)"
                (facevalid)="recieve_dialogfacevalid()" (phonenumbervalue)="recieve_phonenumber()"
                (ciz_age)="updateage($event)" (ciz_age_insurance)="updateage_insurance($event)"
                (ciz_gender)="updategender($event)" (birth_date)="updatebirthdate($event)">
            </app-ciz-card-tab>
            <div class="flex-center" *ngIf="!canclequest">
                <div>
                    <button [disabled]="lockallbtn" mat-raised-button color="primary" (click)="onclickSavecitizendata()"
                        [disabled]="this.createorupdatecitizendataDisable">
                        บันทึกข้อมูล
                    </button>
                </div>
                <br>
                <button *ngIf="this.visiblePhoneValid" mat-raised-button color="primary"
                    (click)="onClickBtnVerifyPhone()" [disabled]="disablePhoneValidbtn">
                    <!-- [disabled]="!(this.cizcardtab.cizForm.controls.generalinfoForm.controls.phoneNumber.valid)"> -->
                    ยืนยันเบอร์โทรศัพท์ลูกค้า
                </button>
                <br>
                <button mat-raised-button color="primary" matStepperNext [disabled]="!this.cizcardtab.cizForm.valid"
                    type="button">
                    Next
                </button>
            </div>
        </mat-step>

        <mat-step [stepControl]="this.productdetailtab.productForm.controls.consentVerify" state="product">
            <mat-divider></mat-divider>
            <ng-template matStepLabel>ข้อมูลผลิตภัณฑ์/วงเงินสินเชื่อ</ng-template>
            <app-product-detail-tab [quotationReq]="quotationResult$" [insurance_age]="insurance_age" [cusage]="cusage"
                [birth_date]="birth_date" [gender]="gender"
                (trigger_bussinesscode)="recieve_trigger_bussinesscode($event)"></app-product-detail-tab>
            <div class="flex-center">
                <div *ngIf="verifyeconsent">
                    <br>
                    <span>✅ : {{verifyeconsent_txt}}</span>
                    <!-- <span>✅ : ได้รับการยืนยันการเปิดเผยข้อมูลผ่านระบบอินเทอร์เน็ตแล้ว</span> -->
                    <!-- <span *ngIf="quotationResult$.value.data[0].otp_consent_verify == 'Y'">✅ : ได้รับการยืนยันการเปิดเผยข้อมูลเครดิตผ่านช่องทางอินเตอร์เน็ตเรียบร้อย</span> -->
                    <!-- <span *ngIf="quotationResult$.value.data[0].otp_consent_verify == 'N'">✅ : ไม่ได้รับการยืนยันการเปิดเผยข้อมูลเครดิตผ่านช่องทางอินเตอร์เน็ต</span> -->
                    <span></span>
                    <br>
                </div>
                <div class="flexbox" style="margin-top: 1em;">
                    <div class="flex-center">
                        <button mat-raised-button color="primary" (click)="onclickCreateCreditBtn()"
                            [disabled]="this.createorupdatecreditbtnDisable">
                            บันทึกข้อมูล
                        </button>
                    </div>
                    <div class="flex-center">
                        <div *ngIf="productdetailtab.showeconsentimagebutton">
                            <button mat-raised-button color="primary" (click)="onClickEconsentImageView()">
                                ดูเอกสาร E-consent
                            </button>
                        </div>
                    </div>
                    <div class="flex-center">
                        <div *ngIf="!verifyeconsent" class="flex-center">
                            <!-- <button mat-raised-button color="primary" (click)="onclickEconsentBtn()" [disabled]="!this.productdetailtab.productForm.controls.detailForm.valid"> -->
                            <button mat-raised-button color="primary" (click)="onclickEconsentBtn()"
                                [disabled]="this.econsentbtnDisable">
                                ยืนยันการสมัคร
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </mat-step>

        <mat-step [stepControl]="this.careerandpurposetab.careerandpurposeForm.controls.verifyCareerandpurpose"
            state="careerandpurpose">
            <mat-divider></mat-divider>
            <ng-template matStepLabel>อาชีพ และ รายได้</ng-template>
            <app-career-and-purpose [quotationReq]="quotationResult$"></app-career-and-purpose>
            <div class="flex-center">
                <div class="flex-center" style="margin-top: 1em;">
                    <button mat-raised-button color="primary" (click)="onclickCreateCareerandPurposeBtn()"
                        [disabled]="this.createorupdatecareerandPurposebtnDisable || lockallbtn">
                        บันทึกข้อมูล
                    </button>
                </div>
            </div>
        </mat-step>

        <mat-step [stepControl]="this.imageattachtab.verifyImageAttach" state="imageattach">
            <mat-divider></mat-divider>
            <ng-template matStepLabel>เอกสารประกอบการสมัครสินเชื่อ</ng-template>
            <app-image-attach [quotationReq]="quotationResult$"
                (emitverifyimageattach)="recieve_verifyimageattach($event)"
                (emitverifysecondhandcarimage)="recieve_verifysecondhandcarimageattach($event)"></app-image-attach>
        </mat-step>

        <mat-step [stepControl]="this.consenttab.signaturetab.signatureForm.controls.verifySignature" state="consent">
            <mat-divider></mat-divider>
            <ng-template matStepLabel>เอกสารสัญญา</ng-template>
            <app-consent-tab [quotationReq]="quotationResult$"
                (emitcreateconsentbtn)="recieve_createconsentBtn($event)"></app-consent-tab>
        </mat-step>

        <mat-step label="ส่งมอบรถ" *ngIf="(sendcarActive$ | async)" state="sendcar">
            <mat-divider></mat-divider>
            <ng-template matStepLabel>ส่งมอบรถ</ng-template>
            <app-send-car-tab [quotationReq]="quotationResult$" (changeEvent)="checkIsSendCar($event)" [gender]="gender"
                [age]="insurance_age"></app-send-car-tab>
            <!-- [age]="cusage"></app-send-car-tab> -->
        </mat-step>


        <!-- Icon overrides. -->
        <ng-template matStepperIcon="cizcard">
            <mat-icon>person</mat-icon>
        </ng-template>
        <ng-template matStepperIcon="product">
            <mat-icon>request_page</mat-icon>
        </ng-template>
        <ng-template matStepperIcon="careerandpurpose">
            <mat-icon>business_center</mat-icon>
        </ng-template>
        <ng-template matStepperIcon="imageattach">
            <mat-icon>photo_library</mat-icon>
        </ng-template>
        <ng-template matStepperIcon="consent">
            <mat-icon>history_edu</mat-icon>
        </ng-template>
        <ng-template matStepperIcon="sendcar">
            <mat-icon>car_rental</mat-icon>
        </ng-template>
    </mat-stepper>
</form>