<mat-dialog-content class="mat-typography">
    <form [formGroup]="secondhandcarForm">
        <!-- grid -->

        <ng-container *ngIf="cardLayout | async as layout">

            <!-- filter -->

            <mat-grid-list [cols]="layout.columns" [rowHeight]="'80px'">>
                <mat-grid-tile [colspan]="layout.list.maxcols">
                    <h1>รถมือสองภายใต้ร้าน "{{this.data.dealer_name}}"</h1>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="layout.list.cols3">
                    <mat-form-field appearance="fill" style="width: 95%">
                        <mat-label>เลขทะเบียน</mat-label>
                        <input matInput placeholder="กรอกเลขทะเบียน" [formControl]="car_reg_no">
                        <mat-icon matSuffix>person</mat-icon>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="layout.list.maxcols">
                    <div class="col text-center">
                        <button mat-raised-button color="primary" (click)="onSearchSecondHandCar()"
                            [disabled]="!secondhandcarForm.valid">
                            <span>ค้นหา</span>
                            <mat-icon>search</mat-icon>
                        </button>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="layout.list.cols3">

                </mat-grid-tile>
            </mat-grid-list>

        </ng-container>
        <div *ngIf="dataSource.data.length !== 0">

            <!-- Table -->

            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="width: 100%;">



                <ng-container matColumnDef="regno">
                    <th mat-header-cell *matHeaderCellDef [style.background-color]="headercolor"> ทะเบียนรถ
                    </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.reg_no}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="provname">
                    <th mat-header-cell *matHeaderCellDef [style.background-color]="headercolor"> จังหวัด
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.prov_name}} </td>
                </ng-container>


                <ng-container matColumnDef="brandname">
                    <th mat-header-cell *matHeaderCellDef [style.background-color]="headercolor"> ยี่ห้อ
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.brand_name}} </td>
                </ng-container>

                <ng-container matColumnDef="modelname">
                    <th mat-header-cell *matHeaderCellDef [style.background-color]="headercolor"> รุ่น
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.model_name}} </td>
                </ng-container>

                <ng-container matColumnDef="color">
                    <th mat-header-cell *matHeaderCellDef [style.background-color]="headercolor"> สี
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.color}} </td>
                </ng-container>

                <ng-container matColumnDef="cc">
                    <th mat-header-cell *matHeaderCellDef [style.background-color]="headercolor"> CC
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.cc}} </td>
                </ng-container>

                <ng-container matColumnDef="grade">
                    <th mat-header-cell *matHeaderCellDef [style.background-color]="headercolor"> Grade
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.grade_moto ? element.grade_moto : '-'}} </td>
                </ng-container>


                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                    [ngClass]="{'selected-row': selectedRowIndex === row.line_number}" (click)="selectRows(row)"></tr>
                <!-- onclick="onclickcustomer(row[i].application_num)"></tr> -->
            </table>

            <mat-paginator [length]="pageLength" [pageSize]="pageSize" [hidePageSize]="true" [pageIndex]="pageno-1"
                (page)="onPaginationChange($event)" aria-label="Select page">
            </mat-paginator>

            <!-- ปุ่มยืนยัน -->
            <div style="text-align: center;">
                <button mat-raised-button color="primary" [disabled]="!confirmbtn"
                    (click)="confirmCarSeclect()">ยืนยันรถ</button>
            </div>

        </div>

        <div class="mt-4" style="text-align: center;" *ngIf="dataSource.data.length === 0">
            <h1>{{textshow}}</h1>
        </div>
    </form>
</mat-dialog-content>