<h1 mat-dialog-title style="font-family: prompt;"> บริษัทไมโครพลัสลิสซิ่งจำกัด</h1>

<div mat-dialog-content>

    <div class="center-position">
        <h2> บริษัท ไมโครพลัสลิสซิ่ง จำกัด</h2>
    </div>

    <div class="left-postion" style="margin-top: 0.5em; margin-bottom: 1em;">
        <span> เรียน {{this.data.title_name}}{{this.data.first_name}}&nbsp;{{this.data.last_name}} บริษัท ไมโครพลัสลิสซิ่ง จำกัด ขอขอบคุณที่สนใจสมัครสินเชื่อ
            เช่าซื้อรถจักรยานยนต์ หลังจากนี้จะมีเจ้าหน้าที่ของบริษัทฯ ติดต่อคุณภายใน 30 นาที เพื่อแจ้งผลการพิจารณาสินเชื่อให้ทราบต่อไป <br>
            <br>
            บริษัท ไมโครพลัสลิสซิ่ง จำกัด
        </span>
    </div>

</div>

<div mat-dialog-actions align="center">
    <button mat-raised-button color="primary" [mat-dialog-close]="true">สิ้นสุดกระบวนการกรอกใบสมัครสินเชื่อ</button>
</div>