.mat-card {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #F5F5F5;
}

.center-button {
    margin: 0 auto;
    display: block;
}


mat-form-field.mat-form-field {
    font-size: 12px;
}

.wrapper {
	width: 100%;
	// border: 1px solid black;
	display: flex;
	align-items: center;
	justify-content: center;
}


.container-card {
    display: flex;
    justify-content: center;
  }
  