.center-position {
    text-align: center;
}

.right-position {
    text-align: right;
}

.left-position {
    text-align: left;
}

.wrap-mat-radio-label {
    white-space: normal;
}

.wrap-list {
    margin-left: 2em;
    word-break: break-all;
}

td {
    word-break: break-word;
}