.header-viewsign {
    width: 100%;
    height: 3em;
    background-color: #3f51b5;
}

.img-viewsign {
    height: 200px;
    width: 700px;
    margin: 0 auto;
    display: block;
}

.img-viewsign-face {
    height: 200px;
    margin: 0 auto;
    display: block;
}

.textcenter-viewsign {
    text-align: center;
}