<form>
  <div class="left-position">
    <span>
      การลงลายมือชื่อข้างล่างนี้ <br><br>
      1)
      ข้าพเจ้า {{(fname$ | async)}} {{(lname$ | async)}} ขอรับรองว่าข้อมูลรายละเอียดที่ระบุไว้เป็นความจริง<br>
      2) ข้าพเจ้าตกลงส่งมอบเอกสารที่เกี่ยวข้องกับการขอสินเชื่อนี้และจะไม่เรียกคืนเอกสารดังกล่าวโดยยอมรับว่า
      บริษัท ไมโครพลัสลิสซิ่ง(“บริษัท”) มีสิทธิที่จะปฏิเสธขอสินเชื่อของข้าพเจ้าโดยไม่ต้องระบุเหตุผล
      หรือคำอธิบายใดๆ<br>
      3) ข้าพเจ้ายินยอมมอบอำนาจให้บริษัททำการตรวจสอบ เปิดเผย
      หรือแลกเปลี่ยนข้อมูลส่วนตัวของข้าพเจ้ากับข้อมูลที่มีอยู่
      ในฐานข้อมูลของบริษัท บริษัทในเครือ คู่ค้าของบริษัท บริษัทข้อมูลเครดิตสถาบันการเงินต่างๆ ผู้ให้บริการ
      บริหารความ
      เสี่ยง หรือผู้ประกอบธุรกิจเกี่ยวกับการจัดเก็บหรือประมวลผลข้อมูล ไม่ว่าจะเพื่อประกอบการพิจารณาคำขอสินเชื่อของ
      ข้าพเจ้า หรือ เพื่อประโยชน์ในการประเมินเครดิตของข้าพเจ้า หรือเพื่อประโยชน์ ในการดำเนินธุรกิจ
      การเสนอผลิตภัณฑ์
      หรือบริการของบริษัท หรือเพื่อประโยชน์ในการประมวลผลข้อมูลของข้าพเจ้า เช่น เก็บ รวบรวม บันทึก จัดหมวดหมู่เก็บ
      รักษา จัดลำดับ ตำแหน่ง แก้ไข เลือก เรียก เปรียบเทียบ ใช้เชื่อมต่อ ระงับ เปิดเผยโดยเจาะจง เปิดเผยโดยทั่วไป
      รวมทั้ง
      ลบ ทำลาย ส่ง หรือโอน ซึ่งข้อมูลดังกล่าวไม่ว่าด้วยวิธีการใดๆ
      ซึ่งการตรวจสอบหรือเปิดเผยหรือแลกเปลี่ยนข้อมูลดังกล่าว
      ข้าพเจ้ายินยอมให้บริษัทคัดลอก หรือทำสำเนาเอกสารแสดงแหล่งที่มาของรายได้ของข้าพเจ้า รวมถึงการส่งข้อมูลของ
      ข้าพเจ้าไปต่างประเทศ<br>
      4) ข้าพเจ้ายินยอมให้บริษัทใช้หมายเลขโทรศัพท์ ที่อยู่ปัจจุบัน ที่อยู่ทะเบียนบ้าน ที่อยู่ที่ติดต่อได้
      ที่อยู่ส่งเอกสาร ที่อยู่
      อิเล็กทรอนิกส์ (E-mail address, Facebook, Line ID.) ของข้าพเจ้าในการแจ้งข้อมูลเสนอขอสินเชื่อนี้ ข่าวสารอื่นๆ
      และ<br>
      การติดตามทวงถามหนี้ชำระ (ถ้ามี) โดยระบุจำนวนหนี้ที่ค้างชำระได้และจะแจ้งให้บริษัท/หรือทราบทันทีที่มีการ
      เปลี่ยนแปลง หมายเลขโทรศัพท์ หรือที่อยู่ หรือที่อยู่อิเล็กทรอนิกส์ (E-mail address, Facebook, Line ID.)
      ของข้าพเจ้า<br>
      5) เมื่อบริษัทและ/หรือตัวแทนของบริษัทได้รับการติดต่อสอบถามของรัฐ สถาบันการเงิน บุคคลที่เกี่ยวกับข้าพเจ้า
      เช่น บิดา
      มารดา สามีภรรยา ผู้สืบสันดานของข้าพเจ้า ข้าพเจ้ายินยอมให้บริษัทและ/หรือตัวแทนของบริษัททำการติดต่อและ/หรือ
      เปิดเผยข้อมูลส่วนบุคคลและข้อมูลภาระหรือที่ได้รับทราบมาต่อบุคคลเหล่านั้นได้ตามที่เห็นสมควร<br>
      6) ข้าพเจ้าทราบว่าบริษัท อาจดำเนินการด้วยตนเองและ/หรือ อาจมอบหมายให้บุคคลภายนอกเป็นผู้ติดตามทวงถามหนี้
      และ/หรือ ติดตามทรัพย์สินที่สินเชื่อกลับคืนได้<br>
      7) ข้าพเจ้าประสงค์ที่จะให้บริษัทนำเสนอผลิตภัณฑ์หรือบริการไม่ว่าจะเป็นของบริษัท บริษัทในเครือ
      หรือคู่ค้าของบริษัทแก่
      ข้าพเจ้า<br>
      8)
      ข้าพเจ้ารับทราบเป็นอย่างดีว่าการขอสินเชื่อสินค้าตามเอกสารนี้ข้าพเจ้ามีภาระหน้าที่ต้องชำระค่าสินเชื่อแก่บริษัทให้
      ครบถ้วนตามสัญญา แม้ว่าข้าพเจ้าจะไม่ได้ใช้สินค้าที่สินเชื่อด้วยตนเอง อันเนื่องมาจากเหตุผลใดๆก็ตาม
    </span>
  </div>

  <div class="center-position">
    <div class="signature-pad-container">
      <canvas [hidden]="!show_pad" #signaturePad id="signature-pad" width="700" height="200"></canvas>
      <br>
      <img *ngIf="show_pic" src='{{(imagesigsrc | async)}}' style="width: 700px; height: 200px;">
      <br>
      <span>{{fullname$ | async}}</span>
      <br>
      <!-- <span>ผู้ออกรถ</span> -->
      <div class="clear-btn-container">
        <button *ngIf="show_pad" mat-raised-button color="primary" (click)="clearCanvas()"
          style="margin-bottom: 1em;">เซ็นต์ใหม่</button>
      </div>
    </div>
    <div class="signature-pad-container">
      <canvas [hidden]="!show_pad" #signaturePad2 id="signature-pad2" width="700" height="200"></canvas>
      <br>
      <img *ngIf="show_pic" src='{{(imagewitnesssrc | async)}}' style="width: 700px; height: 200px;">
      <br>
      <span>{{checkerfullname$ | async}}</span>
      <br>
      <!-- <span>พยาน</span> -->
      <div class="clear-btn-container">
        <button *ngIf="show_pad" mat-raised-button color="primary" (click)="clearCanvas2()"
          style="margin-bottom: 1em;">เซ็นต์ใหม่</button>
      </div>
    </div>
    <div>
      <!-- Button Submit -->
    </div>
  </div>
</form>