.center-position {
    text-align: center;
}

.right-position {
    text-align: right;
}

.left-position {
    text-align: left;
}

.signature-pad-container {
    width: 100%;
    // height: 300px;
}

canvas {
    border: 1px solid #ccc;
}

.clear-btn-container {
    text-align: center;
    margin-top: 10px;
}