<form [formGroup]="epaperform">
    <div class="center-position">
        <h1 style="font-family: Prompt;">
            แบบคำขอใช้บริการ/ยกเลิก การนำส่งเอกสารสัญญาอิเล็กทรอนิกส์ (e-contract)
        </h1>
        <h1 style="font-family: Prompt;">
            แบบฟอร์มการชำระเงินอิเล็กทรอนิกส์ (e-bill) หนังสือแจ้งข้อมูลเครดิตครั้งแรกและรายปีอิเล็กทรอนิกส์ ผ่านทางอีเมล์ หรือ SMS หรือแอพพลิเคชั่น
        </h1>
    </div>
    <div class="left-position">
        <span>
            ชื่อผู้ใช้บริการ(ตามที่ระบุในใบคำขอสินเชื่อ)
            <!-- <mat-divider></mat-divider> -->
            <br>
            <br>
            {{(title$ | async)}}&nbsp;&nbsp;{{(fname$ | async)}}&nbsp;&nbsp;&nbsp;{{(lname$ | async)}}
            <br>
            <br>
            เลขที่บัตรประชาชน&nbsp;&nbsp;&nbsp;{{(cizid$ | async)}}
            <br>
            <br>
            <!-- <label class="example-margin">Align:</label> -->
            <mat-radio-group [formControl]="epaperconsentvalue">
                <mat-radio-button color="primary" class="sp1em" [value]="1">
                    <span class="wrap-mat-radio-label">
                        สมัครบริการ e-contract, e-bill, หนังสือแจ้งข้อมูลเครดิตครั้งแรก และรายปี แบบอิเล็กทรอนิกส์ (ชื่อที่อยู่อีเมล์ และเบอร์โทรศัพท์มือถือ
                        เป็นข้อมูลเดียวกันกับในใบคำขอสินเชื่อ)
                    </span>
                </mat-radio-button>
                <br>
                <mat-radio-button color="primary" class="sp1em" [value]="2">
                    เปลี่ยนแปลงอีเมล์&nbsp;&nbsp;&nbsp; {{(email$ | async)}}&nbsp;&nbsp;&nbsp;โทรศัพท์มือถือ
                    &nbsp;&nbsp;&nbsp; {{(phoneno$ | async)}}
                </mat-radio-button>
                <br>
                <mat-radio-button color="primary" class="sp1em" [value]="3">
                    ยกเลิกบริการ e-contract, e-bill, หนังสือแจ้งข้อมูลเครดิตครั้งแรก และรายปี แบบอิเล็กทรอนิกส์
                </mat-radio-button>
                <br>
            </mat-radio-group>
            <hr>
            <br>
        </span>
    </div>
    <div class="center-position">
        <b style="font-family: Prompt;">
            <u>
                เงื่อนไขสำหรับการให้บริการแบบฟอร์มสัญญาอิเล็กทรอนิกส์ (e-contract)
                แบบฟอร์มชำระหนี้อิเล็กทรอนิกส์ (e-bill) หนังสือแจ้งข้อมูลเครดิตครั้งแรก และรายปีอิเล็กทรอนิกส์
            </u>
        </b>
    </div>
    <br>
    <div class="left-position">
        <span>กรุณาอ่านข้อตกลงการใช้งานต่อไปนี้อย่างละเอียด</span>
    </div>
    <br>
    <div class="left-position">
        <table>
            <tr>
                <td style="min-width: 40px; vertical-align:top;">1.&nbsp;&nbsp;</td>
                <td>บริการรับสัญญา แบบฟอร์มการชำระหนี้ทางอีเมล์ หนังสือแจ้งข้อมูลเครดิตครั้งแรก และรายปี ผ่านทางอีเมล์ หรือ SMS หรือแอพพลิเคชั่น คือ ขอรับสัญญา 
                    แบบฟอร์มชำระหนี้ หนังสือแจ้งข้อมูลเครดิตครั้งแรก และรายปี ผ่านทางอีเมล์ หรือ SMS หรือแอพพลิเคชั่น</td>
            </tr>
            <tr>
                <td style="min-width: 40px; vertical-align:top;">2.&nbsp;&nbsp;</td>
                <td>ผู้ขอสินเชื่อที่สมัครรับสัญญา แบบฟอร์มการชำระหนี้ หนังสือแจ้งข้อมูลเครดิตครั้งแรก และรายปี ผ่านทางอีเมล์หรือ SMS หรือแอพพลิเคชั่น 
                    ถือว่าผู้ขอสินเชื่อต้องการให้ บริษัท ไมโครพลัสลิสซิ่ง จำกัด จัดส่งสัญญา
                    แบบฟอร์มการชำระหนี้ หนังสือแจ้งข้อมูลเครดิตครั้งแรก และรายปี ผ่านทางอีเมล์ หรือ SMS หรือแอพพลิเคชั่น ตาม email address
                    เบอร์โทรศัพท์มือถือที่ให้ไว้ในใบคำขอสินเชื่อ</td>
            </tr>
            <tr>
                <td style="min-width: 40px; vertical-align:top;">3.&nbsp;&nbsp;</td>
                <td>ผู้ขอสินเชื่อยอมรับว่าเมื่อสมัครใช้บริการรับสัญญา แบบฟอร์มชำระหนี้ หนังสือแจ้งข้อมูลเครดิตครั้งแรก และรายปี ผ่านทางอีเมล์ หรือ 
                    SMS หรือแอพพลิเคชั่น แล้วให้ถือว่าได้แสดงเจตจำนงยกเลิกการบริการใช้บริการทางไปรษณีย์</td>
            </tr>
            <tr>
                <td style="min-width: 40px; vertical-align:top;">4.&nbsp;&nbsp;</td>
                <td>ผู้ขอสินเชื่อสามารถนำแบบฟอร์มการชำระหนี้ทางอีเมล์ หรือ SMS นั้นไปชำระผ่านช่องทางชำระตามที่บริษัทฯ
                    ได้แจ้งในแบบฟอร์มการชำระหนี้</td>
            </tr>
            <tr>
                <td style="min-width: 40px; vertical-align:top;">5.&nbsp;&nbsp;</td>
                <td>หากบริษัทฯ ได้ส่งสัญญา แบบฟอร์มการชำระหนี้ หนังสือแจ้งข้อมูลเครดิตครั้งแรก และรายปี ผ่านทางอีเมล์ หรือ SMS หรือแอพพลิเคชั่น 
                    ออกจากระบบโปรแกรมของทางบริษัทฯ แล้ว แต่ผู้ขอสินเชื่อมิได้รับหรือไม่สามารถรับสัญญา 
                    แบบฟอร์มการชำระหนี้ หนังสือแจ้งข้อมูลเครดิตครั้งแรก และรายปี ผ่านทางอีเมล์ หรือ SMS หรือแอพพลิเคชั่นได้ เนื่องด้วยเหตุใดๆ ก็ตาม เช่น กล่องรับ (Mail
                    box) เต็ม หรือมีข้อบกพร่อง
                    หรือผิดพลาดประการอื่นเกี่ยวกับประสิทธิภาพของเครือข่ายผู้ให้บริการอินเตอร์เน็ต
                    หรืออาจเกิดจากการบกพร่องของเครื่องคอมพิวเตอร์/Smart Phone/Tablet ของผู้ขอสินเชื่อเอง หรือเหตุใดๆ
                    ที่อยู่เหนือการควบคุมของบริษัทฯ แล้วให้ถือว่าเป็นการส่งโดยชอบจะไม่ถือเป็นเหตุกล่าวอ้างว่าบริษัทฯ
                    มิได้จัดส่งสัญญา แบบฟอร์มการชำระหนี้ หนังสือแจ้งข้อมูลเครดิตครั้งแรก และรายปี ทางอีเมล์ หรือ SMS หรือแอพพลิเคชั่น 
                    หรือจะนำมาเป็นเหตุแห่งการปฏิเสธการชำระหนี้ หรือจะนำมาเป็นเหตุเรียกร้องให้บริษัทฯ ต้องรับผิดใดๆ
                    ทั้งสิ้นมิได้</td>
            </tr>
            <tr>
                <td style="min-width: 40px; vertical-align:top;">6.&nbsp;&nbsp;</td>
                <td>หากผู้ขอสินเชื่อต้องการยกเลิกการรับแบบฟอร์มการชำระหนี้ หรือหนังสือแจ้งข้อมูลเครดิตครั้งแรก และรายปี ผ่านทางอีเมล์ หรือ SMS หรือแอพพลิเคชั่น ต้องแจ้งให้บริษัทฯ
                    ทราบล่วงหน้าอย่างน้อย 1 รอบบิล</td>
            </tr>
            <tr>
                <td style="min-width: 40px; vertical-align:top;">7.&nbsp;&nbsp;</td>
                <td>บริษัทฯ ขอสงวนสิทธิ์ในการยกเลิกและ/เปลี่ยนแปลงการจัดส่งสัญญา
                    แบบฟอร์มการชำระหนี้ หนังสือแจ้งข้อมูลเครดิตครั้งแรก และรายปี ได้ตามที่เห็นสมควร</td>
            </tr>
        </table>
    </div>
    <br>
    <div class="left-position">
        <span>
            ข้าพเจ้าได้รับทราบและยอมรับเงื่อนไขสำหรับการรับสัญญาผ่านทางอิเล็กทรอนิกส์ (e-contract) 
            แบบฟอร์มการชำระหนี้ผ่านทางอิเล็กทรอนิกส์ (e-bill) หนังสือแจ้งข้อมูลเครดิตครั้งแรก และรายปีผ่านทางอิเล็กทรอนิกส์ ข้างต้น
        </span>
    </div>
    <br>
    <div class="left-position">
        (เอกสารฉบับนี้ถือเป็นเอกสารแนบท้ายใบคำขอสินเชื่อ)
    </div>

    <div class="center-position sp1em">
        <button mat-flat-button color="primary" [disabled]="disableNextBtn" type="button"
            (click)="callParent()">ต่อไป</button>
    </div>
</form>