<app-backward-bar [fname]="this.fname" [lname]="this.lname" [hpno]="this.hpno" [due]="this.due" [branch]="this.branch"
    [bill]="this.bill" [status]="this.status" [pageno]="this.pageno" [ContractNo]="this.applicationid"
    [Username]="this.usernamelogin" [carcheckstatus]="this.carcheckstatus">
</app-backward-bar>
<ng-container *ngIf="cardLayout | async as layout">
    <div class="container-card" style="margin-top: 1em;">
        <div [style.width]="layout.card_width">
            <mat-accordion class="example-headers-align">
                <!-- ข้อมูลสัญญาเลขที่ -->
                <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            ข้อมูลสัญญาเลขที่ {{applicationdata.hp_no}} [{{applicationdata.bill_beg}}]
                        </mat-panel-title>
                        <mat-panel-description>
                            <!-- Type your name and age
                            <mat-icon>account_circle</mat-icon> -->
                        </mat-panel-description>
                    </mat-expansion-panel-header>


                    <table class="table-responsive" style="width: 100%;">
                        <thead>
                            <tr>
                                <th style="text-align: left;">ชื่อลูกค้า</th>
                                <th style="text-align: left;">วันครบกำหนดชำระ</th>
                                <th style="text-align: left;">วันที่ทำสัญญา</th>
                                <th style="text-align: left;">ค่างวด</th>
                                <th style="text-align: left;">ค่างวดที่ต้องชำระ</th>
                                <th style="text-align: left;">จำนวนงวด</th>
                                <th style="text-align: left;">ชำระค่างวดครั้งแรก</th>
                            </tr>
                        </thead>
                        <thead>
                            <!-- <tr> -->
                            <td data-label="ชื่อลูกค้า">
                                {{applicationdata.tittle_name}}&nbsp;{{applicationdata.name}}&nbsp;&nbsp;{{applicationdata.sname}}
                            </td>
                            <td data-label="วันครบกำหนดชำระ">{{((applicationdata.paymentdate | date: 'dd/MM/yyyy') ?
                                (applicationdata.paymentdate | date: 'dd/MM/yyyy') : '-')}}</td>
                            <td data-label="วันที่ทำสัญญา">{{((applicationdata.create_contract_date | date:
                                'dd/MM/yyyy') ?
                                (applicationdata.create_contract_date | date: 'dd/MM/yyyy') : '-')}}</td>
                            <td data-label="ค่างวด">{{((applicationdata.monthly ? applicationdata.monthly : 0) |
                                number)}}&nbsp;บาท</td>
                            <td data-label="ค่างวดที่ต้องชำระ">{{((applicationdata.will_pay_amt ?
                                applicationdata.will_pay_amt : 0) |
                                number)}}&nbsp;บาท&nbsp;/&nbsp;({{((applicationdata.will_pay_inst ?
                                applicationdata.will_pay_inst : 0) |
                                number)}}&nbsp;งวด)</td>
                            <td data-label="จำนวนงวด">{{applicationdata.term}}&nbsp;งวด</td>
                            <td data-label="ชำระค่างวดครั้งแรก">{{((applicationdata.first_due | date: 'dd/MM/yyyy')
                                ?
                                (applicationdata.first_due | date: 'dd/MM/yyyy') : '-')}}</td>
                            <!-- </tr> -->
                        </thead>
                    </table>

                    <mat-action-row>
                        <button mat-button color="primary" (click)="nextStep()">Next</button>
                    </mat-action-row>
                </mat-expansion-panel>

                <!-- ข้อมูลรถจักรยานยนต์ -->
                <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            ข้อมูลรถจักรยานยนต์
                        </mat-panel-title>
                        <mat-panel-description>
                            <!-- Type the country name
                            <mat-icon>map</mat-icon> -->
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div *ngFor="let moto of motocycleList; index as i">

                        <mat-card>
                            <mat-card-content>
                                <table class="table-responsive-allres" style="width: 100%; margin-top: 1em;">
                                    <thead>
                                        <tr>
                                            <th>ยี่ห้อ</th>
                                            <th>รุ่น</th>
                                            <th>เลขเครื่อง</th>
                                            <th>เลขตัวถัง</th>
                                            <th>สี</th>
                                            <th>CC</th>
                                            <th>เลขทะเบียน</th>
                                            <th>ร้าน</th>

                                        </tr>
                                    </thead>
                                    <thead>
                                        <!-- <tr> -->
                                        <td data-label="ยี่ห้อ">{{moto.brand_name}}</td>
                                        <td data-label="รุ่น">{{moto.model}}</td>
                                        <td data-label="เลขเครื่อง">{{moto.engine_number}}</td>
                                        <td data-label="เลขตัวถัง">{{moto.chassis_number}}</td>
                                        <td data-label="สี">{{moto.color}}</td>
                                        <td data-label="ซีซี">{{moto.cc ? moto.cc : '-'}} CC</td>
                                        <td data-label="เลขทะเบียน">{{moto.reg_no ? moto.reg_no+' '+moto.reg_city :
                                            '-'}}</td>
                                        <td data-label="ร้าน">{{moto.dl_name ? moto.dl_name : '-'}}</td>

                                        <!-- </tr> -->
                                    </thead>
                                </table>
                            </mat-card-content>
                        </mat-card>
                    </div>


                    <mat-action-row>
                        <button mat-button color="warn" (click)="prevStep()">Previous</button>
                        <button mat-button color="primary" (click)="nextStep()">Next</button>
                    </mat-action-row>
                </mat-expansion-panel>

                <!-- ที่อยู่ของลูกค้า -->
                <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            ที่อยู่ของลูกค้า
                        </mat-panel-title>
                        <mat-panel-description>
                            <!-- Type the country name
                            <mat-icon>map</mat-icon> -->
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <!-- <table class="table table-striped"> -->
                    <table style="width: 100%;">
                        <thead style="width: 100%;">
                            <tr>
                                <!-- <th scope="col">No.</th> -->
                                <th style="text-align: left; width: 50%;">ประเภท</th>
                                <th style="text-align: left; width: 50%;">ที่อยู่</th>
                                <!-- <th scope="col">Population</th> -->
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let address of addressdataList; index as i">
                                <!-- <th>{{address.line_number}}</th> -->
                                <td style="width: 50%;"> {{ address.addr_type_name }} </td>
                                <td style="width: 50%;">
                                    {{address.home_name}}&nbsp;{{address.sai}}&nbsp;{{address.trok}}&nbsp;หมู่&nbsp;{{address.mhod}}
                                    <br>
                                    {{address.road}}&nbsp;{{address.kwang}}&nbsp;{{address.khet}} <br>
                                    จังหวัด&nbsp;{{address.prov_name}}&nbsp;{{address.post_code}}
                                </td>
                                <!-- <td>{{ address.population | number }}</td> -->
                            </tr>
                        </tbody>
                    </table>


                    <mat-action-row>
                        <button mat-button color="warn" (click)="prevStep()">Previous</button>
                        <button mat-button color="primary" (click)="nextStep()">Next</button>
                    </mat-action-row>
                </mat-expansion-panel>

                <!-- ที่อยู่จากการสืบค้น NCB -->
                <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)" hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            ที่อยู่จากการสืบค้น NCB
                        </mat-panel-title>
                        <mat-panel-description>
                            <!-- Type the country name
                            <mat-icon>map</mat-icon> -->
                        </mat-panel-description>
                    </mat-expansion-panel-header>

                    <!-- <table class="table table-striped"> -->
                    <div *ngIf="this.addressNcbdataList.length == 0">
                        <div style="text-align: center;">
                            <span>ไม่มีรายการการสืบค้นจาก NCB</span>
                        </div>
                    </div>
                    <div *ngIf="this.addressNcbdataList.length !== 0">

                        <table style="width: 100%;">
                            <thead style="width: 100%">
                                <tr>
                                    <th style="text-align: left;">ที่อยู่จากการสืบค้น NCB</th>
                                    <!-- <th scope="col">Population</th> -->
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let address of addressNcbdataList; index as i">
                                    <!-- <th>{{address.line_number}}</th> -->
                                    <td style="text-align: left;">
                                        {{address.address1}}&nbsp;{{address.address2}}&nbsp;{{address.address3}}&nbsp;{{address.address4}}&nbsp;{{address.address5}}&nbsp;{{address.address6}}&nbsp;{{address.address7}}&nbsp;{{address.address8}}
                                    </td>
                                    <!-- <td>{{ address.population | number }}</td> -->
                                </tr>
                            </tbody>
                        </table>
                        <mat-paginator [length]="(address_ncb_pageLength)" [pageSize]="(this.address_ncb_pageSize)"
                            [hidePageSize]="true"
                            (page)="address_ncb_pageEvent = $event; onPaginationChange_ncb_address($event)"
                            aria-label="Select page">
                        </mat-paginator>
                    </div>

                    <mat-action-row>
                        <button mat-button color="warn" (click)="prevStep()">Previous</button>
                        <button mat-button color="primary" (click)="nextStep()">Next</button>
                    </mat-action-row>
                </mat-expansion-panel>

                <!-- เบอร์โทรศัพท์ -->

                <mat-expansion-panel [expanded]="step === 4" (opened)="setStep(4)" hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            เบอร์โทรศัพท์
                        </mat-panel-title>
                        <mat-panel-description>
                            <!-- Type the country name
                            <mat-icon>map</mat-icon> -->
                        </mat-panel-description>
                    </mat-expansion-panel-header>

                    <div *ngIf="this.phonedatacustList.length == 0">
                        <div style="text-align: center;">
                            <span>ไม่มีรายการการเบอร์โทรศัพท์</span>
                        </div>
                    </div>
                    <div *ngIf="this.phonedatacustList.length !== 0">
                        <table style="width: 100%;">
                            <thead style="width: 100%;">
                                <tr>
                                    <th style="width: 50%; text-align: left;">เบอร์โทรศัพท์</th>
                                    <th style="width: 50%; text-align: left;">ชื่อลูกค้า</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let phone of phonedatacustList; index as i">

                                    <td style="width: 50%"> {{phone.phone_no}} </td>
                                    <td style="width: 50%"> {{phone.name}}&nbsp;{{phone.sname}} </td>

                                </tr>
                            </tbody>
                        </table>
                        <mat-paginator [length]="(phonecust_pageLength)" [pageSize]="(this.phonecust_pageSize)"
                            [hidePageSize]="true"
                            (page)="phonecust_pageEvent = $event; onPaginationChange_phonecust($event)"
                            aria-label="Select page">
                        </mat-paginator>
                    </div>
                    <mat-divider style="margin-top: 0.5em; margin-bottom: 0.5em;"></mat-divider>
                    <div *ngIf="this.phonedataList.length == 0">
                        <div style="text-align: center;">
                            <span>ไม่มีรายการการเบอร์โทรศัพท์บุคคลอ้างอิง</span>
                        </div>
                    </div>
                    <div *ngIf="this.phonedataList.length !== 0">
                        <table style="width: 100%">
                            <thead>
                                <tr>

                                    <th style="width: 50%; text-align: left;">เบอร์โทรศัพท์บุคคลอ้างอิง</th>
                                    <th style="width: 50%; text-align: left;">ชื่อบุคคลอ้างอิง</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let phone of phonedataList; index as i">

                                    <td> {{ phone.phone_no }} </td>
                                    <td> {{phone.ref_customer}} </td>

                                </tr>
                            </tbody>
                        </table>
                        <mat-paginator [length]="(phone_pageLength)" [pageSize]="(this.phone_pageSize)"
                            [hidePageSize]="true" (page)="phone_pageEvent = $event; onPaginationChange_phone($event)"
                            aria-label="Select page">
                        </mat-paginator>
                    </div>

                    <mat-action-row>
                        <button mat-button color="warn" (click)="prevStep()">Previous</button>
                        <button mat-button color="primary" (click)="nextStep()">Next</button>
                    </mat-action-row>
                </mat-expansion-panel>

                <mat-expansion-panel [expanded]="step === 5" (opened)="setStep(5)" hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Day of the trip
                        </mat-panel-title>
                        <mat-panel-description>
                            Inform the date you wish to travel
                            <mat-icon>date_range</mat-icon>
                        </mat-panel-description>
                    </mat-expansion-panel-header>

                    <mat-form-field appearance="fill">
                        <mat-label>Date</mat-label>
                        <input matInput readonly>
                    </mat-form-field>


                    <mat-action-row>
                        <button mat-button color="warn" (click)="prevStep()">Previous</button>
                        <button mat-button color="primary" (click)="nextStep()">End</button>
                    </mat-action-row>
                </mat-expansion-panel>

            </mat-accordion>
        </div>
    </div>
</ng-container>