<!-- <p>product-detail-tab works!</p> -->
<!-- 
<h2>form status is {{productForm.valid}}</h2> -->
<div class="form-container">
    <form [formGroup]="productForm" (keydown)="handleKeyDown($event)">
        <div [formGroup]="detailForm">
            <ng-container *ngIf="cardLayout | async as layout">
                <mat-grid-list [cols]="layout.columns" [rowHeight]="'90px'">
                    <mat-grid-tile [colspan]="layout.list.maxcols">
                        <!-- ประเภทผลิดภัณฑ์ -->
                        <mat-form-field appearance="outline" style="width: 100%">
                            <mat-select required [formControl]="bussinessCode">
                                <mat-option [value]="null" disabled hidden>เลือกผลิตภัณฑ์</mat-option>
                                <mat-option *ngFor="let item of bussinessList"
                                    [value]="item.bussiness_code">{{item.bussiness_name}}</mat-option>
                            </mat-select>
                            <mat-label>
                                ประเภทผลิดภัณฑ์
                            </mat-label>
                            <mat-error *ngIf="this.bussinessCode.invalid">กรุณาเลือกประเภทผลิดภัณฑ์</mat-error>
                        </mat-form-field>
                    </mat-grid-tile>
                </mat-grid-list>
                <mat-grid-list [cols]="layout.columns" [rowHeight]="'90px'">
                    <div *ngIf="showdealerfield">
                        <mat-grid-tile [colspan]="layout.list.cols6">
                            <!-- รหัสร้านค้า -->
                            <mat-form-field appearance="outline" style="width: 100%">
                                <mat-label>รหัสร้านค้า</mat-label>
                                <input type="text" placeholder="กรอกรหัสร้านค้า" aria-label="Number" matInput
                                    [formControl]="dealerCode" [matAutocomplete]="autoDealer">
                                <mat-autocomplete autoActiveFirstOption #autoDealer="matAutocomplete">
                                    <mat-option matNativeControl required *ngFor="let fdl of filterDealerList | async"
                                        [value]="fdl.dl_code">
                                        {{fdl.dl_name}}
                                    </mat-option>
                                </mat-autocomplete>
                                <mat-error *ngIf="detailForm.controls.dealerCode.hasError('required')">
                                    กรอกรหัสร้านค้า
                                </mat-error>
                                <mat-error *ngIf="detailForm.controls.dealerCode.hasError('wrongFormatDealer')">
                                    กรอกรหัสร้านค้าให้ถูกต้อง
                                </mat-error>
                                <mat-hint>{{(dealerSelectText | async)}}</mat-hint>
                            </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile [colspan]="layout.list.cols6" *ngIf="show2ndHandMPLSBtn">
                            <!-- ปุ่มค้นหารถมือสอง (MPLUS) (Bussiness code == '002') -->
                            <button mat-raised-button color="primary" style="width: 50%;"
                                (click)="onclick2ndhandSearchBtn()">
                                ค้นหาเลขทะเบียน
                            </button>
                        </mat-grid-tile>
                        <mat-grid-tile [colspan]="layout.list.cols6" *ngIf="!show2ndHandMPLSBtn">
                            <!-- offside -->
                        </mat-grid-tile>
                    </div>
                    <div *ngIf="showgeneralcarinfovisible">
                        <mat-grid-tile [colspan]="layout.list.cols4">
                            <mat-form-field appearance="outline" style="width: 100%">
                                <mat-label>ยี่ห้อ</mat-label>
                                <input type="text" placeholder="กรอกยี่ห้อ" aria-label="Number" matInput
                                    [formControl]="carBrandField" [matAutocomplete]="autoBrand" [required]="true">
                                <mat-autocomplete autoActiveFirstOption #autoBrand="matAutocomplete">
                                    <mat-option matNativeControl required *ngFor="let fbl of filterBrandList | async"
                                        [value]="fbl.brand_code">
                                        {{fbl.brand_name}}
                                    </mat-option>
                                </mat-autocomplete>
                                <mat-error *ngIf="detailForm.controls['carBrandField'].hasError('required')">
                                    กรอกรหัสยี่ห้อ
                                </mat-error>
                                <mat-error *ngIf="detailForm.controls['carBrandField'].hasError('wrongFormatBrand')">
                                    กรอกรหัสยี่ห้อรถให้ถูกต้อง
                                </mat-error>
                                <mat-hint class="hint-color">{{(brandSelectText | async)}}</mat-hint>
                            </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile [colspan]="layout.list.cols4">
                            <mat-form-field appearance="outline" style="width: 100%">
                                <mat-label>รุ่น</mat-label>
                                <input type="text" placeholder="กรอกรหัสโมเดล" aria-label="Number" matInput
                                    [formControl]="carModelField" [matAutocomplete]="autoModel" [required]="true">
                                <mat-autocomplete autoActiveFirstOption #autoModel="matAutocomplete">
                                    <mat-option matNativeControl required *ngFor="let fml of filterModelList | async"
                                        [value]="fml.model_code">
                                        {{fml.model}}
                                    </mat-option>
                                </mat-autocomplete>
                                <mat-error *ngIf="detailForm.controls['carModelField'].hasError('required')">
                                    กรอกรหัสรุ่นรถ
                                </mat-error>
                                <mat-error *ngIf="detailForm.controls['carModelField'].hasError('wrongFormatModel')">
                                    กรอกรหัสรุ่นรถให้ถูกต้อง
                                </mat-error>
                                <mat-hint class="hint-color">{{(modelSelectText | async)}}</mat-hint>
                            </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile [colspan]="layout.list.cols4">
                            <mat-form-field appearance="outline" style="width: 100%">
                                <mat-label>สี</mat-label>
                                <input type="text" matInput placeholder="สีรถ" [formControl]="carColorField">
                            </mat-form-field>
                        </mat-grid-tile>

                        <mat-grid-tile [colspan]="layout.list.cols3" *ngIf="showchassisandengine">
                            <mat-form-field appearance="outline" style="width: 100%">
                                <mat-label>เลขเครื่อง</mat-label>
                                <input type="text" matInput placeholder="เลขเครื่อง" [formControl]="engineNoField">
                            </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile [colspan]="layout.list.cols3">
                            <mat-form-field appearance="outline" style="width: 100%">
                                <mat-label>เลขเครื่อง (running)</mat-label>
                                <input type="text" matInput placeholder="เลขเครื่อง2"
                                    [formControl]="runningengineNoField">
                            </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile [colspan]="layout.list.cols3" *ngIf="showchassisandengine">
                            <mat-form-field appearance="outline" style="width: 100%">
                                <mat-label>เลขถัง</mat-label>
                                <input type="text" matInput placeholder="เลขถัง" [formControl]="chassisNoField">
                            </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile [colspan]="layout.list.cols3">
                            <mat-form-field appearance="outline" style="width: 100%">
                                <mat-label>เลขถัง (running)</mat-label>
                                <input type="text" matInput placeholder="เลขถัง" [formControl]="runningchassisNoField">
                            </mat-form-field>
                        </mat-grid-tile>
                        <!-- Env-car -->
                        <!-- model description (09/07/2024)  -->
                        <mat-grid-tile [colspan]="layout.list.maxcols" *ngIf="show_model_description">
                            <mat-form-field appearance="outline" style="width: 100%">
                                <mat-label>รายละเอียดรุ่นรถ</mat-label>
                                <input type="text" matInput placeder="รายละเอียดรุ่นรถ"
                                    [formControl]="model_description">
                                <mat-error *ngIf="model_description.hasError('maxlength')">
                                    ข้อความยาวเกินกำหนด
                                </mat-error>
                            </mat-form-field>
                        </mat-grid-tile>
                        <!-- Fuel Type -->
                        <mat-grid-tile [colspan]="layout.list.cols3">
                            <mat-form-field appearance="outline" style="width: 100%">
                                <mat-select required [formControl]="fuelTypeField">
                                    <mat-option [value]="null" hidden>Fuel Type</mat-option>
                                    <mat-option *ngFor="let item of masterFuelTypeList.data"
                                        [value]="item.code">{{item.detail}}</mat-option>
                                </mat-select>
                                <mat-label>
                                    Fuel Type
                                </mat-label>
                                <mat-error *ngIf="this.motorField.invalid">กรอก Fuel Type</mat-error>
                            </mat-form-field>
                        </mat-grid-tile>
                        <!-- Motor -->
                        <mat-grid-tile [colspan]="layout.list.cols2">
                            <mat-form-field appearance="outline" style="width: 100%">
                                <mat-label>กำลังมอเตอร์ไฟฟ้า</mat-label>
                                <input type="number" [min]="0" matInput placeholder="กำลังมอเตอร์ไฟฟ้า"
                                    [formControl]="motorField">
                            </mat-form-field>
                        </mat-grid-tile>
                        <!-- Motor Number -->
                        <mat-grid-tile [colspan]="layout.list.cols3">
                            <mat-form-field appearance="outline" style="width: 100%">
                                <mat-label>เลขมอเตอร์ไฟฟ้า</mat-label>
                                <input type="text" matInput placeholder="เลขมอเตอร์ไฟฟ้า"
                                    [formControl]="motorNumberField">
                                <mat-error
                                    *ngIf="detailForm.controls.motorNumberField.hasError('required')">กรอกเลขมอเตอร์ไฟฟ้า</mat-error>
                            </mat-form-field>
                        </mat-grid-tile>
                        <!-- Battery Type -->
                        <mat-grid-tile [colspan]="layout.list.cols2">
                            <mat-form-field appearance="outline" style="width: 100%">
                                <mat-label>ชนิดแบตเตอรี่</mat-label>
                                <input type="text" matInput placeholder="ชนิดแบตเตอรี่"
                                    [formControl]="batteryTypeField">
                            </mat-form-field>
                        </mat-grid-tile>
                        <!-- Battery Capacity -->
                        <mat-grid-tile [colspan]="layout.list.cols2">
                            <mat-form-field appearance="outline" style="width: 100%">
                                <mat-label>ความจุแบตเตอรี่</mat-label>
                                <input type="number" [min]="0" matInput placeholder="ความจุแบตเตอรี่"
                                    [formControl]="batteryCapacityField">
                            </mat-form-field>
                        </mat-grid-tile>
                        <!-- ....... -->

                        <!-- add on secondhand car -->
                        <div [formGroup]="secondHandCarForm" *ngIf="shwosecondhandcardetail">
                            <!-- เลขทะเบียน -->
                            <mat-grid-tile [colspan]="layout.list.cols4">
                                <mat-form-field appearance="outline" style="width: 100%">
                                    <mat-label>ทะเบียน</mat-label>
                                    <input type="text" matInput placeholder="ทะเบียน" [formControl]="reg_no">
                                    <mat-error
                                        *ngIf="secondHandCarForm.controls.reg_no.hasError('required')">กรุณากรอกเลขทะเบียน
                                    </mat-error>
                                </mat-form-field>
                            </mat-grid-tile>
                            <!-- จังหวัด -->
                            <mat-grid-tile [colspan]="layout.list.cols4">
                                <mat-form-field appearance="outline" style="width: 100%">
                                    <mat-select required [formControl]="prov_code">
                                        <mat-option [value]="null" disabled hidden>เลือกจังหวัด</mat-option>
                                        <mat-option *ngFor="let item of masterProvinceList.data"
                                            [value]="item.prov_code">{{item.prov_name}}</mat-option>
                                    </mat-select>
                                    <mat-label>
                                        จังหวัด
                                    </mat-label>
                                    <mat-error *ngIf="this.prov_code.invalid">กรุณากรอกจังหวัด</mat-error>
                                </mat-form-field>
                            </mat-grid-tile>
                            <!-- วันที่จดทะเบียน -->
                            <mat-grid-tile [colspan]="layout.list.cols4">
                                <mat-form-field appearance="outline" style="width: 100%">
                                    <mat-label>วันที่จดทะเบียน</mat-label>
                                    <!-- <input type="date" matInput placeholder="วันที่จดทะเบียน" [formControl]="reg_date"
                                        (keydown)="onKeyDown($event)" [disabled]="!this.enable_reg_date_field"> -->
                                    <input matInput [matDatepicker]="picker" placeholder="วันที่จดทะเบียน"
                                        [formControl]="reg_date" (keydown)="onKeyDown($event)"
                                        [disabled]="!this.enable_reg_date_field" autocomplete="off">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                    <mat-error
                                        *ngIf="secondHandCarForm.controls.reg_date.hasError('required')">กรุณากรอกวันที่จดทะเบียน
                                    </mat-error>
                                </mat-form-field>
                                <button mat-button color="warn" (click)="clearDate()">Clear</button>
                            </mat-grid-tile>
                            <!-- ปีรุ่นรถ -->
                            <mat-grid-tile [colspan]="layout.list.cols3">
                                <mat-form-field appearance="outline" style="width: 100%">
                                    <mat-label>ปีรุ่นรถ</mat-label>
                                    <input type="number" [min]="0" matInput placeholder="ปีรุ่นรถ"
                                        [formControl]="model_year">
                                    <mat-error
                                        *ngIf="secondHandCarForm.controls.model_year.hasError('required')">กรุณากรอกปีรุ่นรถ
                                    </mat-error>
                                </mat-form-field>
                            </mat-grid-tile>
                            <!-- CC -->
                            <mat-grid-tile [colspan]="layout.list.cols3">
                                <mat-form-field appearance="outline" style="width: 100%">
                                    <mat-label>CC</mat-label>
                                    <input type="text" matInput placeholder="CC" [formControl]="cc">
                                    <mat-error *ngIf="secondHandCarForm.controls.cc.hasError('required')">กรุณากรอก cc
                                    </mat-error>
                                </mat-form-field>
                            </mat-grid-tile>
                            <!-- Grade -->
                            <mat-grid-tile [colspan]="layout.list.cols3">
                                <mat-form-field appearance="outline" style="width: 100%">
                                    <mat-label>Grade</mat-label>
                                    <input type="text" matInput placeholder="Grade" [formControl]="grade_moto">
                                </mat-form-field>
                            </mat-grid-tile>
                            <!-- เลขไมล์ -->
                            <mat-grid-tile [colspan]="layout.list.cols3">
                                <mat-form-field appearance="outline" style="width: 100%">
                                    <mat-label>เลขไมล์</mat-label>
                                    <input type="number" [min]="0" matInput placeholder="เลขไมล์"
                                        [formControl]="reg_mile">
                                    <mat-error
                                        *ngIf="secondHandCarForm.controls.reg_mile.hasError('required')">กรุณาระบุเลขไมล์
                                    </mat-error>
                                </mat-form-field>
                            </mat-grid-tile>
                        </div>
                        <mat-grid-tile [colspan]="layout.list.cols3" *ngIf="!showchassisandengine">
                            <!-- Blank Field For fix layout -->
                        </mat-grid-tile>
                        <mat-grid-tile [colspan]="layout.list.cols3" *ngIf="!showchassisandengine">
                            <!-- Blank Field For fix layout -->
                        </mat-grid-tile>
                        <mat-grid-tile [colspan]="layout.list.cols4" *ngIf="showPrice && (showBrandModelLoan$ | async)">
                            <mat-form-field appearance="outline" style="width: 100%">
                                <mat-label>อัตราดอกเบี้ย</mat-label>
                                <mat-select [formControl]="interestRateField" [required]="true">
                                    <!-- <mat-option value=""></mat-option> -->
                                    <mat-option [value]="undefined" disabled hidden>เลือกอัตราดอกเบี้ย</mat-option>
                                    <mat-option *ngFor="let rt of rateSelect" [value]="rt.rate">
                                        {{rt.rate}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="detailForm.controls.interestRateField.hasError('required')">
                                    เลือกอัตราดอกเบี้ย
                                </mat-error>
                            </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile [colspan]="layout.list.cols4" *ngIf="showPrice && (showBrandModelLoan$ | async)">
                            <mat-form-field appearance="outline" style="width: 100%">
                                <mat-label>จำนวนงวด</mat-label>
                                <mat-select [formControl]="paymentRoundCountValueField" [required]="true">
                                    <!-- <mat-option value=""></mat-option> -->
                                    <mat-option [value]="undefined" disabled hidden>ระบุจำนวนงวด</mat-option>
                                    <mat-option *ngFor="let pms of paymentCountSelect" [value]="pms.term">
                                        {{pms.term}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="this.paymentCountSelect.length == 0">
                                    เลือกเงื่อนไขอื่นก่อน
                                </mat-error>
                                <mat-error *ngIf="detailForm.controls.paymentRoundCountValueField.hasError('required')">
                                    เลือกจำนวนงวด
                                </mat-error>
                            </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile [colspan]="layout.list.cols4" *ngIf="showPrice && (showBrandModelLoan$ | async)">
                            <mat-form-field appearance="outline" style="width: 100%">
                                <mat-label>ยอดกู้ {{(maxlvtmessage$ | async)}}</mat-label>
                                <!-- <input matInput [formControl]="loanAmountField" type="number"
                                    max="{{(maxltvValue$ | async)}}" [required]="true"> -->
                                <input matInput [formControl]="loanAmountField" type="number" [required]="true">
                                <mat-error *ngIf="detailForm.controls.loanAmountField.hasError('required')">
                                    ระบุยอดกู้
                                </mat-error>
                                <mat-error *ngIf="detailForm.controls.loanAmountField.hasError('max')">ยอดกู้เกินจำนวน
                                </mat-error>

                            </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile [colspan]="layout.list.cols4"
                            *ngIf="(detailForm.controls.loanAmountField.hasError('max') && layout.isweb && detailForm.controls.bussinessCode.value == '002') || (layout.isweb && isshowmaxltv)">
                            <!-- blank -->
                        </mat-grid-tile>
                        <mat-grid-tile [colspan]="layout.list.cols4"
                            *ngIf="(detailForm.controls.loanAmountField.hasError('max') && detailForm.controls.bussinessCode.value == '002') || isshowmaxltv">
                            <!-- blank -->
                            <mat-checkbox [class.checkbox-font]="true" color="primary"
                                [formControl]="isovermaxltvField">
                                ขอยอดกู้มากกว่าเกณฑ์ที่กำหนด
                                <mat-error *ngIf="secondHandCarForm.controls.isovermaxltvField.hasError('required')">
                                    กรุณาเลือกกรณียอดกู้เกิน
                                </mat-error>
                            </mat-checkbox>
                        </mat-grid-tile>
                        <mat-grid-tile [colspan]="layout.list.cols4"
                            *ngIf="(detailForm.controls.loanAmountField.hasError('max') && detailForm.controls.bussinessCode.value == '002') || isshowmaxltv">
                            <!-- is over max ltv field -->
                            <mat-form-field appearance="outline" style="width: 100%">
                                <mat-label>เหตุผล</mat-label>
                                <input type="text" matInput placeholder="ระบุเหตุผล"
                                    [formControl]="overmaxltvreasonField">
                                <mat-error
                                    *ngIf="secondHandCarForm.controls.overmaxltvreasonField.hasError('required')">
                                    กรุณากรอกเหตุผล
                                </mat-error>
                            </mat-form-field>
                        </mat-grid-tile>

                        <!-- Hide field -->
                        <mat-grid-tile *ngIf="false">
                            <mat-form-field appearance="outline" style="width: 100%">
                                <mat-label>ราคาโรงงาน</mat-label>
                                <input matInput [formControl]="productValueField" type="number">
                            </mat-form-field>
                        </mat-grid-tile>

                        <mat-grid-tile [colspan]="layout.list.maxcols" *ngIf="showPrice">
                            <mat-form-field appearance="outline" style="width: 100%">
                                <mat-label>ประกัน</mat-label>
                                <mat-select [formControl]="insurerCodeField" [required]="true">
                                    <!-- <mat-option value=""></mat-option> -->
                                    <mat-option [value]="undefined" disabled hidden>เลือกประกัน</mat-option>
                                    <mat-option *ngFor="let il of InsuranceList" [value]="il.insurer_code">
                                        {{il.insurer_name}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="detailForm.controls.insurerCodeField.hasError('required')">
                                    เลือกประกัน
                                </mat-error>
                            </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile [colspan]="layout.list.cols4"
                            *ngIf="showPrice && (showInsuranceSelect$ | async)">
                            <mat-form-field appearance="outline" style="width: 100%">
                                <mat-label>จำนวนปี</mat-label>
                                <mat-select [formControl]="insuranceYearField" [required]="true">
                                    <!-- <mat-option value=""></mat-option> -->
                                    <mat-option [value]="undefined" disabled hidden>เลือกจำนวนปี</mat-option>
                                    <mat-option *ngFor="let ils of InsuranceListFilter" [value]="ils.years_insur">
                                        {{ils.years_insur}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="detailForm.controls.insuranceYearField.hasError('required')">
                                    ระบุจำนวนปี
                                </mat-error>
                            </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile [colspan]="layout.list.cols4"
                            *ngIf="showPrice && (showInsuranceSelect$ | async)">
                            <mat-form-field appearance="outline" style="width: 100%">
                                <mat-label>ราคาเบี้ย (ประกัน)</mat-label>
                                <mat-select [formControl]="insurancePlanPriceField">
                                    <mat-option [value]="undefined" disabled hidden>เลือกเบี้ยประกัน</mat-option>
                                    <mat-option *ngFor="let il of InsuranceListFilter" [value]="il.premium_insur">
                                        {{il.premium_insur}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile [colspan]="layout.list.cols4" *ngIf="showPrice">
                            <div class="form-group">
                                <label *ngIf="false">รวมยอดกู้</label>
                                <section class="example-section">
                                    <mat-checkbox [class.checkbox-font]="true" [formControl]="isincludeloanamount"
                                        color="primary">
                                        รวมยอดกู้
                                    </mat-checkbox>
                                </section>
                            </div>
                        </mat-grid-tile>
                        <mat-grid-tile [colspan]="layout.list.maxcols">
                            <mat-form-field appearance="outline" style="width: 100%">
                                <mat-label>ราคาเงินสด</mat-label>
                                <input matInput [formControl]="priceincludevatField" type="number">
                                <mat-error *ngIf="detailForm.controls.priceincludevatField.hasError('required')">
                                    กรุณากรอกราคาเงินสด
                                </mat-error>
                            </mat-form-field>
                        </mat-grid-tile>
                    </div>
                </mat-grid-list>
            </ng-container>
            <!-- End of Grid list -->
            <!-- <div class=flex-center> -->
            <div class="flexbox-col">
                <div *ngIf="is_edit">
                    <button mat-raised-button color="primary" (click)="onbtnpaymentcalculate()"
                        [disabled]="(lockbtncalculate$ | async)"> คำนวณค่างวด </button>
                </div>
                <div *ngIf="showPrice" hidden>
                    <div class="form-group">
                        <label>ค่างวด</label>
                        <input [formControl]="paymentValueField" type="number" class="form-control" [required]="true">
                    </div>
                </div>
                <mat-error *ngIf="warningMsgPaymentValueField">
                    เลือกเงื่อนไขเพื่อคำนวณค่างวด
                </mat-error>
                <div *ngIf="(showpaymentvalue$ | async)">
                    <h2> ทุนประกัน {{(coverage | number)}} </h2>
                </div>
                <div *ngIf="(showpaymentvalue$ | async)">
                    <h2> ยอดกู้สูงสุด {{(maxltvCurrent | number)}} </h2>
                </div>
                <div
                    *ngIf="detailForm.controls.isincludeloanamount.value && detailForm.controls.paymentValueField.value">
                    <h2> ยอดกู้รวม {{(netfinance | number)}} ( {{(paymentshowvalue | number)}} +
                        {{(biaprakan
                        |
                        number)}})</h2>
                </div>
                <div *ngIf="(showpaymentvalue$ | async)">
                    <mat-card style="background-color: lightgray;">
                        <mat-card-content>
                            <h1 style="color: #3f51b5;"> ค่างวด {{((paymentvalue$ | async) | number)}}</h1>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>

            <div class="flexbox" style="margin-top: 1em;">
                <mat-divider></mat-divider>
            </div>


            <div style="margin-top: 1em; width: 100%;">
                <!-- <app-mrta-product [out_stand]="out_stand" [age]="cusage" [gender]="gender" -->
                <app-mrta-product-new [out_stand]="out_stand" [age]="insurance_age" [gender]="gender"
                    [showseller]="false" [birth_date]="birth_date"
                    [busi_code]="this.productForm.controls.detailForm.controls.bussinessCode.value">
                </app-mrta-product-new>
            </div>
        </div>
        <!-- </div> -->
    </form>
</div>