<p>product-detail-tab works!</p>

<h2>form status is {{productForm.valid}}</h2>
<div class="form-container">
    <form [formGroup]="productForm">
        <div [formGroup]="detailForm">
            <ng-container *ngIf="cardLayout | async as layout">
                <mat-grid-list [cols]="layout.columns" [rowHeight]="'100px'">
                    <mat-grid-tile [colspan]="layout.list.maxcols">
                        <mat-form-field appearance="outline">
                            <mat-label>รหัสร้านค้า</mat-label>
                            <input type="text" placeholder="กรอกรหัสร้านค้า" aria-label="Number" matInput
                                formControlName="dealerCode" [matAutocomplete]="autoDealer">
                            <mat-autocomplete autoActiveFirstOption #autoDealer="matAutocomplete">
                                <mat-option matNativeControl required *ngFor="let fdl of filterDealerList | async"
                                    [value]="fdl.dl_code">
                                    {{fdl.dl_name}}
                                </mat-option>
                            </mat-autocomplete>
                            <mat-error *ngIf="detailForm.controls['dealerCode'].hasError('required')">
                                กรอกรหัสร้านค้า
                            </mat-error>
                            <mat-error *ngIf="detailForm.controls['dealerCode'].hasError('wrongFormatDealer')">
                                กรอกรหัสร้านค้าให้ถูกต้อง
                            </mat-error>
                            <mat-hint>{{(dealerSelectText | async)}}</mat-hint>
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="layout.list.cols4">
                        <mat-form-field appearance="outline">
                            <mat-label>ยี่ห้อ</mat-label>
                            <input type="text" placeholder="กรอกยี่ห้อ" aria-label="Number" matInput
                                formControlName="carBrandField" [matAutocomplete]="autoBrand" [required]="true">
                            <mat-autocomplete autoActiveFirstOption #autoBrand="matAutocomplete">
                                <mat-option matNativeControl required *ngFor="let fbl of filterBrandList | async"
                                    [value]="fbl.brand_code">
                                    {{fbl.brand_name}}
                                </mat-option>
                            </mat-autocomplete>
                            <mat-error *ngIf="detailForm.controls['carBrandField'].hasError('required')">
                                กรอกรหัสยี่ห้อ
                            </mat-error>
                            <mat-error *ngIf="detailForm.controls['carBrandField'].hasError('wrongFormatBrand')">
                                กรอกรหัสยี่ห้อรถให้ถูกต้อง
                            </mat-error>
                            <mat-hint class="hint-color">{{(brandSelectText | async)}}</mat-hint>
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="layout.list.cols4">
                        <mat-form-field appearance="outline">
                            <mat-label>รุ่น</mat-label>
                            <input type="text" placeholder="กรอกรหัสโมเดล" aria-label="Number" matInput
                                formControlName="carModelField" [matAutocomplete]="autoModel" [required]="true">
                            <mat-autocomplete autoActiveFirstOption #autoModel="matAutocomplete">
                                <mat-option matNativeControl required *ngFor="let fml of filterModelList | async"
                                    [value]="fml.model_code">
                                    {{fml.model}}
                                </mat-option>
                            </mat-autocomplete>
                            <mat-error *ngIf="detailForm.controls['carModelField'].hasError('required')">
                                กรอกรหัสรุ่นรถ
                            </mat-error>
                            <mat-error *ngIf="detailForm.controls['carModelField'].hasError('wrongFormatModel')">
                                กรอกรหัสรุ่นรถให้ถูกต้อง
                            </mat-error>
                            <mat-hint class="hint-color">{{(modelSelectText | async)}}</mat-hint>
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="layout.list.cols4">
                        <mat-form-field appearance="outline">
                            <mat-label>สี</mat-label>
                            <input type="text" matInput placeholder="สีรถ" formControlName="carColorField">
                        </mat-form-field>
                    </mat-grid-tile>

                    <mat-grid-tile [colspan]="layout.list.cols3" *ngIf="showchassisandengine">
                            <mat-form-field appearance="outline">
                                <mat-label>เลขเครื่อง</mat-label>
                                <input type="text" matInput placeholder="เลขเครื่อง" formControlName="engineNoField">
                            </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="layout.list.cols3">
                        <mat-form-field appearance="outline">
                            <mat-label>เลขเครื่อง (running)</mat-label>
                            <input type="text" matInput placeholder="เลขเครื่อง2"
                                formControlName="runningengineNoField">
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="layout.list.cols3" *ngIf="showchassisandengine">
                            <mat-form-field appearance="outline">
                                <mat-label>เลขถัง</mat-label>
                                <input type="text" matInput placeholder="เลขถัง" formControlName="chassisNoField">
                            </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="layout.list.cols3">
                        <mat-form-field appearance="outline">
                            <mat-label>เลขถัง (running)</mat-label>
                            <input type="text" matInput placeholder="เลขถัง" formControlName="runningchassisNoField">
                        </mat-form-field>
                    </mat-grid-tile>
                </mat-grid-list>
            </ng-container>
            <!-- End of Grid list -->
            <div class="flexbox">
                <mat-form-field appearance="outline">
                    <mat-label>รหัสร้านค้า</mat-label>
                    <input type="text" placeholder="กรอกรหัสร้านค้า" aria-label="Number" matInput
                        formControlName="dealerCode" [matAutocomplete]="autoDealer">
                    <mat-autocomplete autoActiveFirstOption #autoDealer="matAutocomplete">
                        <mat-option matNativeControl required *ngFor="let fdl of filterDealerList | async"
                            [value]="fdl.dl_code">
                            {{fdl.dl_name}}
                        </mat-option>
                    </mat-autocomplete>
                    <mat-error *ngIf="detailForm.controls['dealerCode'].hasError('required')">
                        กรอกรหัสร้านค้า
                    </mat-error>
                    <mat-error *ngIf="detailForm.controls['dealerCode'].hasError('wrongFormatDealer')">
                        กรอกรหัสร้านค้าให้ถูกต้อง
                    </mat-error>
                    <mat-hint>{{(dealerSelectText | async)}}</mat-hint>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>ยี่ห้อ</mat-label>
                    <input type="text" placeholder="กรอกยี่ห้อ" aria-label="Number" matInput
                        formControlName="carBrandField" [matAutocomplete]="autoBrand" [required]="true">
                    <mat-autocomplete autoActiveFirstOption #autoBrand="matAutocomplete">
                        <mat-option matNativeControl required *ngFor="let fbl of filterBrandList | async"
                            [value]="fbl.brand_code">
                            {{fbl.brand_name}}
                        </mat-option>
                    </mat-autocomplete>
                    <mat-error *ngIf="detailForm.controls['carBrandField'].hasError('required')">
                        กรอกรหัสยี่ห้อ
                    </mat-error>
                    <mat-error *ngIf="detailForm.controls['carBrandField'].hasError('wrongFormatBrand')">
                        กรอกรหัสยี่ห้อรถให้ถูกต้อง
                    </mat-error>
                    <mat-hint class="hint-color">{{(brandSelectText | async)}}</mat-hint>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>รุ่น</mat-label>
                    <input type="text" placeholder="กรอกรหัสโมเดล" aria-label="Number" matInput
                        formControlName="carModelField" [matAutocomplete]="autoModel" [required]="true">
                    <mat-autocomplete autoActiveFirstOption #autoModel="matAutocomplete">
                        <mat-option matNativeControl required *ngFor="let fml of filterModelList | async"
                            [value]="fml.model_code">
                            {{fml.model}}
                        </mat-option>
                    </mat-autocomplete>
                    <mat-error *ngIf="detailForm.controls['carModelField'].hasError('required')">
                        กรอกรหัสรุ่นรถ
                    </mat-error>
                    <mat-error *ngIf="detailForm.controls['carModelField'].hasError('wrongFormatModel')">
                        กรอกรหัสรุ่นรถให้ถูกต้อง
                    </mat-error>
                    <mat-hint class="hint-color">{{(modelSelectText | async)}}</mat-hint>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>สี</mat-label>
                    <input type="text" matInput placeholder="สีรถ" formControlName="carColorField">
                </mat-form-field>

                <!-- casssic and engine no -->
                <div *ngIf="showchassisandengine">
                    <mat-form-field appearance="outline">
                        <mat-label>เลขเครื่อง</mat-label>
                        <input type="text" matInput placeholder="เลขเครื่อง" formControlName="engineNoField">
                    </mat-form-field>
                </div>

                <mat-form-field appearance="outline">
                    <mat-label>เลขเครื่อง (running)</mat-label>
                    <input type="text" matInput placeholder="เลขเครื่อง2" formControlName="runningengineNoField">
                </mat-form-field>

                <div *ngIf="showchassisandengine">
                    <mat-form-field appearance="outline">
                        <mat-label>เลขถัง</mat-label>
                        <input type="text" matInput placeholder="เลขถัง" formControlName="chassisNoField">
                    </mat-form-field>
                </div>

                <mat-form-field appearance="outline">
                    <mat-label>เลขถัง (running)</mat-label>
                    <input type="text" matInput placeholder="เลขถัง" formControlName="runningchassisNoField">
                </mat-form-field>

                <div *ngIf="showPrice && (showBrandModelLoan$ | async)">

                    <mat-form-field appearance="outline">
                        <mat-label>อัตราดอกเบี้ย</mat-label>
                        <mat-select formControlName="interestRateField" [required]="true">
                            <!-- <mat-option value=""></mat-option> -->
                            <mat-option [value]="undefined" disabled hidden>เลือกอัตราดอกเบี้ย</mat-option>
                            <mat-option *ngFor="let rt of rateSelect" [value]="rt.rate">
                                {{rt.rate}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="detailForm.controls['interestRateField'].hasError('required')">
                            เลือกอัตราดอกเบี้ย
                        </mat-error>
                    </mat-form-field>
                </div>
                <div *ngIf="showPrice && (showBrandModelLoan$ | async)">
                    <mat-form-field appearance="outline">
                        <mat-label>จำนวนงวด</mat-label>
                        <mat-select [formControl]="paymentRoundCountValueField" [required]="true">
                            <!-- <mat-option value=""></mat-option> -->
                            <mat-option [value]="undefined" disabled hidden>ระบุจำนวนงวด</mat-option>
                            <mat-option *ngFor="let pms of paymentCountSelect" [value]="pms.term">
                                {{pms.term}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="this.paymentCountSelect.length == 0">
                            เลือกเงื่อนไขอื่นก่อน
                        </mat-error>
                        <mat-error *ngIf="detailForm.controls['paymentRoundCountValueField'].hasError('required')">
                            เลือกจำนวนงวด
                        </mat-error>
                    </mat-form-field>
                </div>
                <div *ngIf="showPrice && (showBrandModelLoan$ | async)">

                    <mat-form-field appearance="outline">
                        <mat-label>ยอดกู้ {{(maxlvtmessage$ | async)}}</mat-label>
                        <input matInput formControlName="loanAmountField" type="number" max="{{(maxltvValue$ | async)}}"
                            [required]="true">
                        <mat-error *ngIf="detailForm.controls['loanAmountField'].hasError('required')">
                            ระบุยอดกู้
                        </mat-error>
                        <mat-error *ngIf="detailForm.controls['loanAmountField'].hasError('max')">ยอดกู้เกินจำนวน
                        </mat-error>

                    </mat-form-field>
                </div>

                <div *ngIf="false">

                    <mat-form-field appearance="outline">
                        <mat-label>ราคาโรงงาน</mat-label>
                        <input matInput formControlName="productValueField" type="number">
                    </mat-form-field>
                </div>

                <div *ngIf="showPrice">
                    <mat-form-field appearance="outline">
                        <mat-label>ประกัน</mat-label>
                        <mat-select formControlName="insurerCodeField" [required]="true">
                            <!-- <mat-option value=""></mat-option> -->
                            <mat-option [value]="undefined" disabled hidden>เลือกประกัน</mat-option>
                            <mat-option *ngFor="let il of InsuranceList" [value]="il.insurer_code">
                                {{il.insurer_name}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="detailForm.controls['insurerCodeField'].hasError('required')">
                            เลือกประกัน
                        </mat-error>
                    </mat-form-field>
                </div>
                <div *ngIf="showPrice && (showInsuranceSelect$ | async)">

                    <mat-form-field appearance="outline">
                        <mat-label>จำนวนปี</mat-label>
                        <mat-select formControlName="insuranceYearField" [required]="true">
                            <!-- <mat-option value=""></mat-option> -->
                            <mat-option [value]="undefined" disabled hidden>เลือกจำนวนปี</mat-option>
                            <mat-option *ngFor="let ils of InsuranceListFilter" [value]="ils.years_insur">
                                {{ils.years_insur}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="detailForm.controls['insuranceYearField'].hasError('required')">
                            ระบุจำนวนปี
                        </mat-error>
                    </mat-form-field>
                </div>

                <div *ngIf="showPrice && (showInsuranceSelect$ | async)">
                    <mat-form-field appearance="outline">
                        <mat-label>ราคาเบี้ย (ประกัน)</mat-label>
                        <mat-select formControlName="insurancePlanPriceField">
                            <mat-option [value]="undefined" disabled hidden>เลือกเบี้ยประกัน</mat-option>
                            <mat-option *ngFor="let il of InsuranceListFilter" [value]="il.premium_insur">
                                {{il.premium_insur}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div *ngIf="showPrice">
                    <div class="form-group">
                        <label *ngIf="false">รวมยอดกู้</label>
                        <section class="example-section">
                            <mat-checkbox class="example-margin" formControlName="isincludeloanamount" color="primary">
                                รวมยอดกู้
                            </mat-checkbox>
                        </section>
                    </div>
                </div>

                <mat-form-field appearance="outline">
                    <mat-label>ราคาเงินสด</mat-label>
                    <input matInput formControlName="priceincludevatField" type="number">
                    <mat-error *ngIf="detailForm.controls['priceincludevatField'].hasError('required')">
                        กรุณากรอกราคาเงินสด
                    </mat-error>
                </mat-form-field>

                <div *ngIf="is_edit">
                    <button class="btnsubmit" mat-raised-button color="primary" (click)="onbtnpaymentcalculate()"
                        [disabled]="(lockbtncalculate$ | async)"> คำนวณค่างวด </button>
                </div>

                <div *ngIf="showPrice" hidden>
                    <div class="form-group">
                        <label>ค่างวด</label>
                        <input formControlName="paymentValueField" type="number" class="form-control" [required]="true">
                    </div>
                </div>
                <mat-error *ngIf="warningMsgPaymentValueField">
                    เลือกเงื่อนไขเพื่อคำนวณค่างวด
                </mat-error>
                <div *ngIf="(showpaymentvalue$ | async)">
                    <p class="h3"> ทุนประกัน {{(coverage | number)}} </p>
                </div>
                <div *ngIf="(showpaymentvalue$ | async)">
                    <p class="h3"> ยอดกู้สูงสุด {{(maxltvCurrent | number)}} </p>
                </div>
                <div
                    *ngIf="detailForm.controls['isincludeloanamount'].value && detailForm.controls['paymentValueField'].value">
                    <p class="h3"> ยอดกู้รวม {{(netfinance | number)}} ( {{(paymentshowvalue | number)}} + {{(biaprakan
                        |
                        number)}})</p>
                </div>
                <div *ngIf="(showpaymentvalue$ | async)">
                    <mat-card style="background-color: lightgray;">
                        <mat-card-content>
                            <p class="h1" style="color: #3f51b5;"> ค่างวด {{((paymentvalue$ | async) | number)}}</p>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>

            <div class="col-sm-12 mt-4">
                <mat-divider></mat-divider>
            </div>
        </div>
    </form>
</div>