<form [formGroup]="imageAttachForm" style="margin-top: 1em;">

  <!-- หน้าจอตารางเครื่องมือในการ setting config ในการ upload รูปภาพ -->
  <div [formGroup]="uploadForm">
    <div class="flex-center">
      <div class="card" style="width: 80%;">
        <mat-form-field appearance="outline" style="width: 50%">
          <mat-label>เอกสารแนบ</mat-label>
          <mat-select [formControl]="category">
            <mat-option [value]="undefined" disabled hidden>เลือกประเภทของรูปถ่าย</mat-option>
            <mat-option *ngFor="let category of categories" [value]="category.image_code">
              {{ category.image_header }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <button mat-flat-button color="primary" (click)="fileInput.click();" style="margin-left: 1em;;">
          <mat-icon>photo_library</mat-icon>
          แนบไฟล์ภาพ
        </button>

        <div *ngIf="this.selectImage">
          <img [src]="selectImage" style="max-width: 400px; max-height: 400px;">
        </div>
        <input type="file" accept="image/jpeg" capture="environment" (change)="onFileChange($event)" #fileInput
          style="visibility: hidden;">
        <input type="file" accept="image/jpeg" capture="environment" (change)="onFileChangeEdit($event)" #fileInputEdit
          style="visibility: hidden;">
        <input #hiddenInput style="visibility: hidden;">


        <button style="margin: 1rem;" *ngIf="userSession.RADMIN !== 'Y'" mat-flat-button (click)="uploadImage()"
          color="primary" [disabled]="disableUploadBtn">Upload</button>
      </div>
      <br>
      <span style="color: red;">{{this.txtrequireimage}}</span>
    </div>

    <!-- expasion ของรูปที่เคย uploaded (กรณีเป็น secondhand car) -->
    <div class="card-list-image" *ngFor="let image of uploadedImages">
      <mat-expansion-panel (opened)="onPanelOpen(image)" >
        <mat-expansion-panel-header>
          {{ image.image_header }}
        </mat-expansion-panel-header>
        <img [src]="image.urlsanitizer" [alt]="'ha'" style="max-width: 400px; max-height: 400px;"
          (click)="openimagedialog(image)"><br>
        <button *ngIf="userSession.RADMIN !== 'Y'" mat-flat-button (click)="updateImage(image)"
          color="primary">Edit</button>
        <!-- <button mat-flat-button (click)="deleteImage(image)" color="warn" style="margin-left: 1em;">Delete</button> -->
      </mat-expansion-panel>
    </div>
  </div>

  <!-- หน้าจอตารางเครื่องมือในการ setting config ในการ upload รูปภาพ (secondhandcar add-on) -->
  <div *ngIf="showsecondhandcarimageattach" [formGroup]="uploadMultipleForm" style="margin-top: 2em;">
    <div class="flex-center">
      <div style="margin-bottom: 1em;">
        <span>
          <h1>
            {{this.txtsecondhandcarheader}}
          </h1>
        </span>
      </div>
      <div class="card" style="width: 80%;">
        <div style="text-align: center;">
          <span style="color: red;">{{this.txtrequireimagesecondhandcar}}</span>
        </div>
        <mat-form-field appearance="outline" style="width: 50%">
          <mat-label>เอกสารแนบ</mat-label>
          <mat-select [formControl]="categoryMultiple">
            <mat-option [value]="undefined" disabled hidden>เลือกประเภทของรูปถ่าย</mat-option>
            <mat-option *ngFor="let category of categoriesMultiple" [value]="category.image_code">
              {{ category.image_header }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <button mat-flat-button color="primary" (click)="fileInputMultiple.click();" style="margin-left: 1em;;">
          <mat-icon>photo_library</mat-icon>
          แนบไฟล์ภาพ
        </button>

        <div *ngIf="this.selectImageMultiple">
          <img [src]="selectImageMultiple" style="max-width: 400px; max-height: 400px;">
        </div>
        <input type="file" accept="image/jpeg" capture="environment" (change)="onFileChangeMultiple($event)"
          #fileInputMultiple style="visibility: hidden;">
        <input type="file" accept="image/jpeg" capture="environment" (change)="onFileChangeMultipleEdit($event)"
          #fileInputMultipleEdit style="visibility: hidden;">
        <input #hiddenInput style="visibility: hidden;">


        <button *ngIf="userSession.RADMIN !== 'Y'" mat-flat-button (click)="uploadImageMultiple()" color="primary"
          [disabled]="disableUploadMultipleBtn">Upload</button>
      </div>
      <br>
      <!-- <span>{{this.txtsecondhandcarheader}}</span> -->
    </div>

    <!-- expasion ของรูปที่เคย uploaded (กรณีเป็น secondhand car) -->
    <div class="card-list-image" *ngFor="let image of uploadedImagesMultiple">
      <mat-expansion-panel (opened)="onPanelOpen(image)" style="min-width: 600px;">
        <mat-expansion-panel-header>
          {{ image.image_header }}
        </mat-expansion-panel-header>
        <img [src]="image.urlsanitizer" [alt]="'ha'" style="max-width: 400px; max-height: 400px;"
          (click)="openimageMultipledialog(image)"><br>
        <button *ngIf="userSession.RADMIN !== 'Y'" mat-flat-button (click)="updateImageMultiple(image)"
          color="primary">Edit</button>
        <!-- <button mat-flat-button (click)="deleteImage(image)" color="warn" style="margin-left: 1em;">Delete</button> -->
      </mat-expansion-panel>
    </div>

  </div>
</form>