<h1 mat-dialog-title>รูปภาพ</h1>
<mat-dialog-content class="mat-typography" style="margin: 0;">
    <img src="{{imagesrc | async}}" style="
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%
    "
    [ngStyle]="{
        width: slide+ '%',
        height: slide+'%'
      }"
    >
</mat-dialog-content>
ZOOM :
<mat-slider 
class="example-margin"
    color="primary"
    [max]="max"
    [min]="min"
    [(ngModel)]="slide"
>
</mat-slider>
<div mat-dialog-actions align="end">
    <button mat-raised-button 
    [mat-dialog-close]="true" 
    color="primary"
    >
    {{data.button_name}}
</button>
</div>