<div class="container-fluid">
    <h1 mat-dialog-title style="font-family: prompt;">{{data.header}}</h1>
    <div mat-dialog-content>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <mat-icon style="margin-right: 5px;">account_circle</mat-icon>
            <span class="aligned-with-icon">{{data.fullname}}</span>
          </div>
          <div class="col-md-12">
            <mat-icon style="margin-right: 5px;">mail</mat-icon>
            <span class="aligned-with-icon">{{data.email}}</span>
          </div>
          <div class="col-md-12">
            <mat-icon style="margin-right: 5px;">badge</mat-icon>
            <span class="aligned-with-icon">{{data.channal}}</span>
          </div>
        </div>
      </div>
    </div>
    <div mat-dialog-actions align="end">
      <button mat-button [mat-dialog-close]="true">{{data.button_name}}</button>
    </div>
  </div>