<div class="parent">
    <div class="child">
        <div style="margin-top: 2em;">
            <div style="text-align: center; font-size: 50px;">
                404
            </div><br>
            <div style="text-align: center; font-size: 30px;">
                Page Not Found
            </div>

        </div>
        <div style="text-align: center; margin-top: 2em;">
            <button mat-flat-button color="primary" (click)="gohome()">
                กลับหน้าหลัก
            </button>
        </div>
    </div>
</div>