<div class="container">
    <div class="row">
        <div class="col-md-12 mt-4">
                <div style="text-align: center; font-size: 50px;">
                    404
                </div><br>
                <div style="text-align: center; font-size: 30px;">
                    Page Not Found
                </div>

        </div>
        <div class="col-md-12 mt-4 mt-4" style="text-align: center;">
            <button mat-raised-button color="primary" (click)="gohome()">
                กลับหน้าหลัก
            </button>
        </div>
    </div>
</div>