/* You can add global styles to this file, and also import other style files */

@import "node_modules/ng-zorro-antd/ng-zorro-antd.css";

@font-face {
  font-family: Prompt;
  src: url('assets/fonts/Prompt-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: THSarabunNew;
  src: url('assets/fonts/THSarabunNew.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

:root,
.container,
.container .row,
.container .row h1,
.container .row h2,
.container .row h3,
.container .row h4,
h1,
h2,
h3,
h4,
s div,
div form,
div form .ng-container,
div form .ng-container .mat-grid-list .mat-grid-tile,
div form .ng-container .mat-grid-list .mat-grid-tile .mat-form-field,
div form .ng-container .mat-grid-list .mat-grid-tile .mat-form-field .mat-label {
  font-family: Prompt;
}

* {
  font-family: Prompt;
}

// * angular material *
.mat-card,
.mat-raised-button,
.mat-select,
.mat-option-text,
.mat-menu-item,
.mat-grid-tile h1,
.mat-dialog-content h1,
.mat-dialog-container h1,
.mat-radio-label-content,
.mat-expansion-panel-header,
.mat-card h1,
.mat-card h2,
.mat-dialog-title h1,
.mat-dialog-title h2,
.mat-h1,
.mat-h2,
.mat-title,
.mat-typography h2,
.mat-button,
.mat-icon-button,
.mat-stroked-button,
.mat-flat-button,
.mat-snack-bar-container,
.mat-h3,
.mat-subheading-2,
.mat-typography h3,
.mat-h4,
.mat-subheading-1,
.mat-typography h4,
.mat-form-girld,
.mat-h1, .mat-headline-5, .mat-typography .mat-h1, .mat-typography .mat-headline-5, .mat-typography h1,
.mat-mdc-dialog-container .mat-mdc-dialog-title,
.mat-mdc-dialog-container .mat-mdc-dialog-title+.mat-mdc-dialog-content
{
  font-family: Prompt;
}

html,
body {
  height: 100%;
  margin: 0;
}


.custom-snackbar-container {
  font-family: Prompt;
  background-color: #35A255;
}

.fail-snackbar-container {
  font-family: Prompt;
  background-color: #fa6e5b;
}

/* global class for mat-dialog style use panelClass eg (panelClass: 'custom-dialog-container') */
.custom-dialog-container .mat-dialog-container .mat-dialog-content,
.mat-header-cell,
.mat-cell {
  overflow-y: hidden;
  font-family: Prompt;
}

.sp1em {
  margin: 1em;
}

span .mat-mdc-option .mdc-list-item__primary-text,
.mat-mdc-option .mdc-list-item__primary-text {
  font-family: Prompt !important;
}