<div class="header">
  <mat-toolbar color="primary" style="height: 2em;">
    <button mat-icon-button class="example-icon small-icon" aria-label="Example icon-button with menu icon"
      [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item class="small-icon" (click)="openUserInfo()">
        <mat-icon>
          account_circle
        </mat-icon>
        <span>
          User Info.
        </span>
      </button>
      <!-- <button mat-menu-item class="small-icon" (click)="opendialogPage()">
          <mat-icon>
            wysiwyg
          </mat-icon>
          <span>Rate Table</span>
        </button>
  
        <button mat-menu-item class="small-icon" (click)="opendialogCalculate()">
          <mat-icon>
            calculate
          </mat-icon>
          <span>คำนวณค่างวด</span>
        </button> -->
      <button mat-menu-item class="small-icon" (click)="opendialogMrta()">
        <mat-icon>
          credit_card
        </mat-icon>
        <span>ขายประกัน MRTA</span>
      </button>
      <button mat-menu-item class="small-icon" (click)="openrepohistory()">
        <mat-icon>
          history
        </mat-icon>
        <span>ประวัติการประเมินสภาพรถ</span>
      </button>
      <button mat-menu-item class="small-icon" (click)="openWelcomeCallService()">
        <mat-icon>
          travel_explore
        </mat-icon>
        <span>Welcome Call</span>
      </button>
    </mat-menu>
    <span *ngIf="false" style="font-size: 14px;">{{username}}</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon small-icon"
      aria-label="Example icon-button with heart icon" (click)="goquotationview()">
      <mat-icon>toc</mat-icon>
    </button>
    <button mat-icon-button class="example-icon favorite-icon small-icon"
      aria-label="Example icon-button with heart icon" (click)="godashboard()">
      <mat-icon>home</mat-icon>
    </button>
    <button mat-icon-button class="example-icon favorite-icon small-icon"
      aria-label="Example icon-button with heart icon" (click)="logoutClick()">
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar>
</div>